[2013-01-15 07:45] fool2fish opened #1 "先前的讨论"
## 原始需求
1. 收银台测试结果、覆盖率
2. 服务化规则检查
3. 基础技术代码规则
4. KPI 质量目标
## 拆分功能点
### 代码规范检查
- 需求来源：前端服务化、基础技术组
- 希望达成：
  1. 可自定义添加规则
  2. 开发可及时看到反馈
  3. 有监控警告、趋势图等后台功能
### 文件引用分析
- 需求来源：基础技术组、全局导航等公用文件
- 希望达成：
  1. 公用文件引用分析
  2. Arale 等类库的全站覆盖情况
  3. JS 脚本的正向和反向引用分析
### 系统状态检测
- 需求来源：基础技术组
- 希望达成：
  1. sharedata 挂载状态
  2. 服务器状态
  3. UISVR 2.0 配置问题
  4. 与运维结合，对网络的前端稳定性进行监控
### 通用数据监控
- 浏览器统计数据
- PV、UV 等通用业务数据，不用

[2013-01-15 07:45] #1 closed, assigned to nobody

[2013-01-15 07:46] fool2fish opened #2 "质量小组2012总结"
## 做的好的点
### 质量周刊
- 数据获取cq -->转为小组可能会方便
- 了解一下看的同学怎么认为
- 沉淀的问题 ---> 记录、质量工具等
### 监控
- 有结果、有效果
- 规则准确性
- 归纳整理、28天限制
- 数据没有分组、jira不能很好整理
- 有价值的讨论没有分享
- 监控与CDN问题（网络）
### 质量月刊：
- 维度全、图形分析清晰
- 问题跟进情况 -- 需要提高
- 分析层面
### CR：
- CR平台问题，打通cq项目，是否有前端修改
- 上海做的不错
- 各线业务的了解
## 做的不好的点：
### 分析
- 展新的系分
- 时间不太靠谱 -- 态度强硬
- 不需要形式的问题
### 故障分析
- 压力山大
- 工具上
- 是不是可以放到各个小组来组织  -- 主持人
### 总结
- 缺陷分析的总结
## 2013
- 前端测试
- 口碑
-

[2013-01-15 07:46] #2 closed, assigned to nobody

[2013-01-15 07:47] fool2fish opened #3 "2013年方向性讨论"
- 主持人：沉鱼
- 会议记录：贯高
- 时间：2012.01.08 10:30-11:30
- 地点：14F 石鼓书院
- 与会人：
  - 主任，大伯，玉伯
  - 鹭飞，远尘，天作，张初尘，竹卢
  - 沉鱼，贯高，丹侠
- 会议目标
  1. 明确质量控制的目标
  2. 明确我们真正需要去做的事情
- 达成共识
  1. 确认2013年质量控制的目标
  2. 确认质量控制要做的事情
     1. 基础技术组提供质量工具支持
     2. 质量小组负责质量措施推进
     3. 低优先级的工作可先不做
     4. 查询类的需求不放在这件事情中，交由贯高负责

![120108-2013 ](https://f.cloud.github.com/assets/340282/67100/d493e21c-5ee7-11e2-9c17-b7ab43e61fe0.png)

[2013-01-15 07:47] #3 closed, assigned to nobody

[2013-01-15 07:48] fool2fish opened #4 "产品参考"
## 测试框架
- [expect.js](https://github.com/LearnBoost/expect.js/blob/master/README.md) - 断言
- [sinonjs](http://sinonjs.org/) - mock
- [mocha](http://visionmedia.github.com/mocha/) - 测试框架，任意断言，测试覆盖率，测试时间等
## 兼容性测试和持续集成
### 特别关注
#### Selenium

这是一套和浏览器交互的解决方案，目前所有号称能搞定浏览器兼容性测试和功能测试的都是基于这个东东，阿里系的测试系统也一样。

更多移步 #6
#### thrill
- 项目：https://github.com/turn/thrill
### 其他
- [uitest](http://uitest.taobao.net

[2013-01-15 07:51] fool2fish opened #5 "测试需求分析"
![120110- ](https://f.cloud.github.com/assets/340282/67108/683b5716-5ee8-11e2-8d03-9b95d2f75f03.png)

[2013-01-17 06:39] fool2fish opened #6 "Selenium 研究"
- 站点：http://seleniumhq.org/
- 项目：https://code.google.com/p/selenium/

**中文文档**
- https://github.com/fool2fish/selenium-doc

**client driver 相关**
- https://github.com/Camme/webdriverjs
- https://github.com/LearnBoost/soda
- https://github.com/admc/wd

**grid 相关**
- https://github.com/turn/thrill
- https://github.com/turn/queen

**待研究的点**
- selenium: automationAtoms
- commonJS: promise
  - 语法糖，降低异步编

[2013-01-18 06:39] fool2fish commented on #5
## 测试系统结构图

![系统结构图](https://f.cloud.github.com/assets/340282/77390/d1c2a04c-6139-11e2-86f0-b6bf9e920a42.png)

[2013-01-21 01:29] leoner commented on #5
http://ci.testling.com/

这个的使用方式我们可以参考下啊。

[2013-01-21 01:55] lifesinger commented on #5
康辉推荐的这个不错，简直就是我们想要的
文档里提到的这个站点也挺有意思：http://testanything.org/  TAP 接口标准我们可以考虑直接拿来用

越发确定我们的方向是对的，这个需求很旺盛，关键要看我们能不能实现以及做好

2013/1/21 hui.kang notifications@github.com

##

王保平 / 玉伯（射雕）
送人玫瑰手有余香

[2013-01-21 02:54] fool2fish commented on #5
是滴，就是要这样的，这个和 browerling 是同一家，一个做单元测试，一个做回归测试。目前这些系统都是基于selenium，还没发现例外。康辉，期待你来杭州啊，selenium 各种 java，希望跟你一起研究下。

[2013-01-22 09:26] leoner commented on #5
https://github.com/Camme/webdriverjs
https://github.com/LearnBoost/soda

记录下。

[2013-01-22 09:58] popomore commented on #5
今天和 b2b 的聊，也提到了 webdriver

[2013-01-23 10:43] fool2fish opened #7 "0.1.0 开发计划"
### 规划
- [x] #10 想个好名字
- [x] #9 整体技术方案
### driver
- [x] #11 跑通 thrill + queen + selenium grid
- [x] #21 确认package.json 中的配置项
- [x] #13 runner 拼装方案
- [x] #8 命令行参数
- [x] #22 解决 queen 同类浏览器重复运行单元测试的问题
- [x] #23 使用 totoro 测试 arale 基础模块
- [x] #28 定位和修复 arale 测试中发现的测试框架的问题
### 选择单元测试框架
- [x] 测试基础知识
- [x] 套件
- [x] 断言
- [x] #17 翻译 sinon 文档，转换成cmd模块发布到源
- [x] #18 事件模拟
### 生产环境部署
- [x] #14 申请测试服务器
- [x]  #1

[2013-01-24 03:02] #4 closed, assigned to nobody

[2013-01-25 08:53] #5 closed, assigned to nobody

[2013-01-28 09:01] leoner commented on #4
https://github.com/turn/thrill
https://github.com/turn/thrill/wiki/Comparison-to-Similar-Software

[2013-01-28 09:32] lifesinger commented on #4
https://github.com/turn/thrill/wiki/Use

这就是我们想要做的呀，可以 fork 起来一起做，刚好大家可以练练英文写作。

[2013-01-28 09:33] lifesinger commented on #4
Queen 也是这个组织做的，强大。Thrill 刚开始，我们现在就可以参与进去。

[2013-01-28 09:45] leoner commented on #4
恩，现在这一类通过浏览器挂载的方式主要问题就是如果浏览器长时间不关闭的话，引起的性能问题，
那现在想我们是否可以结合 selenium 的 webdriver 来驱动浏览器的打开和关闭呢？这样就可以避免我们在手动去对浏览器进行注册了。

[2013-01-28 11:59] lifesinger commented on #4
Thrill 里有说：

Queen offers some useful features:
- Automatic population of browsers through Selenium, BrowserStack or
  Sauce Labs.
- Automatic detection and restarting of unresponsive browsers.
- A monitoring page (in the above example, you could have gone to
  localhost:9000/monitor/ to see connected browsers and active jobs.

2013/1/28 hui.kang notifications@github.com

##

王保平 / 玉伯（射雕）
送人玫瑰手有余香

[2013-01-29 04:05] leoner commented on #4
https://github.com/turn/queen/blob/stable/example/selenium/how-to-run-this-example.txt

[2013-01-31 11:06] fool2fish opened #8 "命令行参数"
1. totoro test
   - 命令可以在模块根目录或者 test/tests 文件夹中运行
   - 会自动找到 test/tests 目录中的 runner.html 开始测试
   - 如果没有找到 runner.html，则根据默认测试框架(mocha, expect.js, sinon, event-simulate)生成 runner.html。也就是说，如果默认的测试框架无法满足需求，则需要开发者自己拼写 runner。
2. - r --run path/to/runner.html
     指定要运行的runner，这样使用非指定测试框架，或者存放在非指定位置的runner，就可以运行
3. -f --force
   强制重新生成 runner

[2013-01-31 11:15] fool2fish opened #9 "整体技术方案"
![ ](https://f.cloud.github.com/assets/340282/252168/9275ccf4-8b8a-11e2-815a-a1a161c944d3.png)

[2013-01-31 11:16] fool2fish opened #10 "想个好名字"
npm name: totoro
domain name: totorojs.org

来自宫崎骏的动画《龙猫》中的主角名：豆豆龙

[2013-01-31 11:21] fool2fish opened #11 "跑通 thrill + queen + selenium grid"
确保机器上已经安装了 [Java](http://www.java.com/en/download/index.jsp) 和 [node](http://nodejs.org/)。

**注意：**简单起见，文中都给出了推荐端口，如有必要，可自行替换。
### 一、启动 selenium-grid hub

1、下载最新的 [selenium-server-standalone-{{version}}.jar](https://code.google.com/p/selenium/downloads/list)（本文档使用 2.29.0 版本） 到任意目录，本文档假定该目录为 totoro-server 。

2、在同目录下创建 hub.json 配置文件。

[code]

更多 hub 配置项请参见 [Selenium Wiki](http://code.google.com/p/se

[2013-01-31 13:05] lifesinger commented on #10
itest 可以作为备选

总的或许可以叫 PageQuality   类似 PageSpeed

或者从 Arale 动画里找一个角色，类似 nico 这种

大家集思广益多提提备选

On Thu, Jan 31, 2013 at 7:16 PM, fool2fish notifications@github.com wrote:

##

王保平 / 玉伯（射雕）
送人玫瑰手有余香

[2013-01-31 13:51] afc163 commented on #10
bee

[2013-01-31 13:52] fool2fish commented on #10
lan
兰

来自柯南的女朋友小兰
侦探动漫人物，外表甜美，身手不凡，和测试有那么点关系哈哈

[2013-01-31 13:53] fool2fish commented on #10
@afc163 bee？什么由来啊？

[2013-01-31 13:54] afc163 commented on #10
蜜蜂，哔哔哔

[2013-02-01 01:02] lifesinger commented on #10
lan 联想到 兰 挺好的，小清新呀

不过

也容易联想到 烂……

On Thu, Jan 31, 2013 at 9:54 PM, afc163 notifications@github.com wrote:

##

王保平 / 玉伯（射雕）
送人玫瑰手有余香

[2013-02-01 02:38] lepture commented on #10
mincho 明朝

[2013-02-01 02:53] lifesinger commented on #10
要看 npm 中是否有注册

[2013-02-01 09:29] fool2fish commented on #9
代码划分

## server
1. 根据用户请求信息，负责收集测试需要的内容(测试代码，或者项目模块等)
2. 根据用户提供的信息自动生成 driver 脚本。
   1. 脚本需要负责从测试页面中拿到数据。
3. 执行脚本，驱动 selenium。然后收集脚本执行结果，并汇总
4. 返回信息到客户端

## client
1. 解析配置
2. 把 server 需要的信息传递给 server(tcp ? 还是 git clone ?)
3. 等待服务器通知
4. 显示服务测试信息。

[2013-02-03 05:41] lifesinger opened #12 "百度的移动测试方案"
http://developer.baidu.com/mtc

可以看下

[2013-02-05 00:58] fool2fish opened #13 "runner 拼装方案"
暂不提供配置，也进行探测，只提供 mocha + expect.js + sinon + event-simulate 的组合方案

mocha 使用原文件

其他封装成 cmd 模块，使用时需要 require

否则就需要开发者自己生成 runner

[2013-02-06 02:03] leoner commented on #9
https://github.com/sebv/node-wd-sync 可以看下这个。 把 wd 包装了下，支持同步的调用. 我们可以看看是不是可以基于他再进一步的改进呀！

[code]

[2013-02-07 03:41] fool2fish commented on #11
@leoner

TODO：
- 浏览器重启的时间间隔
- thrill 自定义要测试的浏览器

[2013-02-07 03:44] #6 closed, assigned to nobody

[2013-02-07 03:53] #11 closed, assigned to nobody

[2013-02-07 08:15] leoner commented on #11
- 浏览器重启的时间间隔,也可以说是闲置超时。
  在启动 hub 的 hub.json 中配置

[code]

[2013-02-07 13:11] lifesinger commented on #11
今天看了沉鱼的演示，感觉我们正在朝着正确的方向上前行
踏下心来努力去做好做精
很相信我们能在前端测试领域做出一番不一样的事情来

新年快乐。

On Thu, Feb 7, 2013 at 4:15 PM, hui.kang notifications@github.com wrote:

##

王保平 / 玉伯（射雕）
送人玫瑰手有余香

[2013-02-18 08:15] #10 closed, assigned to nobody

[2013-02-18 08:16] fool2fish opened #14 "申请测试服务器"
暂定申请2台服务器

需满足如下条件：
- 固定 ip
- 可安装 windows（要能同时跑ie6789几个版本）
- 不被干扰（因为会操作浏览器，不能被人为关掉）
- 便于管理操作（目前看起来代码可能不是很稳定）

[2013-02-18 09:22] fool2fish commented on #12
粗略看了下，基于开放平台的，这套东西好笨重的，先不看了

[2013-02-18 09:23] #12 closed, assigned to nobody

[2013-02-22 08:11] fool2fish commented on #14
联系 王中元 和 梦棠

3个备选方案：
1. 实体机
2. 虚拟机
3. 阿里云

相关人员本周未到岗，下周跟进，如无意外，下周可搞定

[2013-02-22 08:20] fool2fish opened #15 "比较不同测试框架的运行效率"
如题

[2013-02-22 08:39] lifesinger commented on #14
有任何需要我的地方，别犹豫

2013/2/22 fool2fish notifications@github.com

##

王保平 / 玉伯（射雕）
送人玫瑰手有余香

[2013-02-26 06:44] fool2fish commented on #15
之前推测 ie67 特别慢有3个可能（ie8 也慢，但没那么夸张）：
1. 客户端测试用例执行慢
2. 客户端测试结果收集慢
3. socket 传输慢

筛查下来，目前基本确认是第一个原因，jasmine 在 ie6 下单个测试结果耗时平均2.5秒，但是 chrome 下的耗时为25毫秒，相差两个数量级。奇怪的是，搜索英文网页，居然没发现反应说 jasmine 在 ie67 下慢的文章。

需要继续确认：
1. 其他测试框架是否也有同样的问题
2. 测试用例真正慢是慢在哪里，需要更精确一点定位问题

[2013-02-26 08:47] fool2fish commented on #14
想要直接装xp和win7的服务器，各种软磨硬泡啊，sa说只能装 windows 2003 server，然后自己要再装个虚拟机跑xp和win7，说是直接装网络跑不通，但这样跑又太ws，况且 ie 很很容易挂。打听到淘宝的测试服务器是可以直接装的，找了下人，让sa联系去了。希望有个好结果。

[2013-02-26 11:05] leoner commented on #14
好吧，这也要托关系，太不容易了呀！

[2013-03-01 10:32] fool2fish commented on #14
成功弄到安装了指定操作系统的机器，真心不容易。结贴。

[2013-03-01 10:32] #14 closed, assigned to nobody

[2013-03-01 10:33] fool2fish opened #16 "部署服务端代码"
如题

[2013-03-01 10:37] fool2fish commented on #15
确认测试用例在 ie67 中执行效率较低，单个测试用例执行时间，使用 jasmine 时，chrome 为 25 毫秒，ie6 为 2500 毫秒，使用 mocha 时， chrome 为 23 毫秒，ie6 为 230毫秒。

由于团队内部统一使用 mocha，暂不考虑解决。待服务起来之后，再多跑一些项目看看。

[2013-03-04 10:24] leoner commented on #16
完成部署，现在浏览器的分配情况如下:
87 为我们的 grid hub. 88，89，90 作为 node
87 浏览器: ie9 和 firefox
88 浏览器: ie7 和 chrome
89 浏览器: ie8 和 safari
90 浏览器: ie6 和 opera

目前 firefox 由于兼容性的问题，目前版本为17. 其他除 ie 浏览器的版本都是最新版本。

queen 也已经在 87 上面部署好。可以通过 _._.*.87:9200 去连接测试。

[2013-03-04 10:36] leoner commented on #11
grid 的 node.json 和 queenConfig.json 的配置在 ie 下需要注意下
node.json

[code]

如果我们对 ie 指定版本的话，记住 browserName 一定是 _iexplorer_ 而不是 ***iexplorer**
queenConfig.json

[code]

[2013-03-05 00:52] fool2fish opened #17 "翻译 sinon 文档，转换成cmd模块发布到源"
如题

[2013-03-05 00:53] fool2fish opened #18 "选择事件模拟类库，移植和发布"
如题

[2013-03-05 00:53] fool2fish opened #19 "准备测试基础知识ppt"
如题

[2013-03-05 01:07] fool2fish commented on #16
所有的代码都放到 C:\totoro-server 里面，不分子目录

两个关联库（@leoner 均有权限）
- queen：https://github.com/fool2fish/queen
- events：https://github.com/fool2fish/events

[2013-03-05 02:31] fool2fish commented on #16
注意：selenium 操作浏览器时，首先会打开一个端口随机的注册页面

目前服务器没有限定端口，否则这里会有问题

[2013-03-05 08:21] fool2fish commented on #16
代码部署步骤已更新至 issue #11

[2013-03-05 08:22] #16 closed, assigned to leoner

[2013-03-06 03:16] lifesinger opened #20 "前端测试系统方案总结与讨论"
将前端测试系统的方案做个总结，做成 PPT
然后订个会议室讨论下

除了我们自己：
1. 邀请杨延昭、阿玺、本参等人，他们很感兴趣，有可能可以直接给予协助
2. 邀请测试团队相关人员，可以听听他们的看法（可提前沟通，按需邀请）

[2013-03-07 07:30] fool2fish opened #21 "确认package.json 中测试框架和测试浏览器类型的配置"
### 1、测试框架的配置

考虑过两种方式：
1. 所有的测试框架不转换成cmd模块，通过探测测试脚本来猜测使用了哪些测试框架
   - 好处：无需任何配置
   - 坏处：随着支持的框架增多，探测成本变高，难以维护
2. 所有的测试框架转换成cmd模块，mocha和jasmine这类测试套件比较特殊，不进行包装，但仍然发布到源上，开发者需要在 package.json 中指定依赖
   - 好处：市面主流的测试套件有限，可以根据指明的测试套件生成runner，其他的断言之类的工具通过require获得，无需关心
   - 坏处：开发者需要进行配置，多了一个工作步骤（有考虑过是否给定默认配置，但考虑到以后测试框架会不断演变，还会导致默认配置也需要变更，暂提供），但此步工作量较小。

**结论：**

使用方式2
### 2、指定要测试的浏览器或者运行环境的配置

这个先不提供配置，使用d

[2013-03-08 02:50] fool2fish opened #22 "解决 queen 同类浏览器重复运行单元测试的问题"
如果有多个同样的浏览器可用，则只选择负载最小的一个发送任务

[2013-03-12 05:27] leoner commented on #18
基本上完成迁移，详情参看 https://github.com/aralejs/event-simulate
剩余问题:
1.测试用例完善。
目前测试用例还在迁移中，测试用例主要是使用 yui3的。目前基本上迁移完成，主要是 dblclick 和 keydown 这两个事件还有点问题。后续在继续完善中。
2. 文档完善
这个接口相对比较简单，主要是参数比较多。

[2013-03-12 05:28] leoner opened #23 "使用 totoro 测试 arale 基础模块"
### 基础设施
- [x] base
- [x] class
- [x] events
- [x] widget
### 工具
- [x] messenger ie9, opera 不通过
- [x] iframe-shim
- [x] position
- [x] easing
- [x] cookie
- [x] placeholder
- [x] iframe-uploader 没有测试用例
- [x] fixed
### arale ui 组件
- [x] autocomplete ie6,7,8,9 用例跑不过，需要看下。
- [x]  select
- [x] overlay
- [x] switchable
- [x] calendar
- [x] popup
- [x] [dialog](https://github.com/aralejs/dialog) 不通过 ie6

[2013-03-12 10:32] leoner opened #24 "selenium 相关工具升级"
1. selenium server 都已经从 2.29.0 升级到 2.31.0, 4 台服务器都已升级
2. firefox 升级到最新的 19.x

[2013-03-12 10:32] #24 closed, assigned to nobody

[2013-03-12 10:57] leoner commented on #23
@afc163 messenger 在 ie9 和 opera 12 下面有权限问题啊，可以关注下

[code]

[2013-03-13 03:04] fool2fish commented on #9
已准备ppt，先在组内进行分享，达成共识

持续完善ppt，稍后可用于集团内技术交流

运作一段时间后，可能需要寻找运维等技术支持

[2013-03-13 03:05] #9 closed, assigned to nobody

[2013-03-13 03:19] fool2fish opened #25 "监控单元测试执行效率"
是否可以不需要为性能测试特意进行编码，仅通过运行单元测试，通过某种方法，判定一个方法的执行效率？

mocha 测试框架中有整体测试慢的时间测试，但对于单个方法是否可行，需要再考察。

或者可以仅监控整体测试时间，对于耗时超过一定程度的，予以警告。

如一个测试在多个浏览器中运行的时间为：30ms, 35ms, 40ms, 120ms，就认为120ms 是不正常的，需要警告

[2013-03-13 03:24] fool2fish commented on #25
案例
1. 在邵帅最近的项目中，发现代码在ie67中有比较严重的效率问题，其中一个原因是handbars慢，另一个原因是编码不当，导致内存泄露。第二个问题需要再考虑是否可以通过测试的方式来解决，但第一个问题是可以通过测试解决的。

[2013-03-13 03:56] #20 closed, assigned to nobody

[2013-03-13 04:10] fool2fish commented on #21
测试框架在 package.json 中的配置

[code]

测试套件只允许出现一个，如 jasmine 和 mocha 就只允许出现一个，因为测试套件语法的特殊性，不能通过require引入，还需要在runner中进行一些额外的编码。

至于测试套件使用的是何种测试风格，bdd还是tdd，因为语法差异比较大，想不好应该提供什么配置项，从源码里抽取？

其他断言等相关工具按需要引入即可。

[2013-03-13 05:40] lepture commented on #21
不要污染 devDependencies

[2013-03-13 08:11] #13 closed, assigned to nobody

[2013-03-13 08:24] fool2fish commented on #23
对于arale的模块，我们只测试runner，暂不处理runner的生成，之前的runner和nico绑定的比较紧

[2013-03-13 08:38] fool2fish commented on #21
工具提供默认配置：mocha + expect + sinon + event-simulate

暂不开放用户配置

[2013-03-13 08:38] #21 closed, assigned to nobody

[2013-03-13 09:04] fool2fish commented on #17
已发布到源，完成 spy 和 stub 的文档翻译，剩余部分，比较复杂，不会很快用到，稍后再继续写

[2013-03-14 03:23] fool2fish commented on #21
3月13日，经过午饭和晚饭时间的讨论，和南伯、小高达成以下共识：
1. 对于测试脚本中的测试框架和非测试框架依赖，除了默认设定，需要提供配置项，一来是考虑到测试脚本中可能还会依赖一些普通的模块（正式环境不需要，又不是测试框架范畴的，比如模拟事件的 event-simulate），二来是即使我们可以统一所有的测试框架，但实际上也需要有地方指定要测试的浏览器。
2. 参考南伯的 [spm doc] 文档，在 spm2 中跟测试相关的配置大致如下：

[code]

   spm1中的配置相应放在 devDependencies 中
3. 所有用到的测试框架，都需要转换成 cmd 模块发布到源上，通过 require 使用。mocha 和 jasmine 也会发布到源上，但不会转换成 cmd 模块，作为特殊处理。
4. 由测试工具生成 runner 时，必须通过 sea_modules 使用本地

[2013-03-14 03:33] lepture commented on #21
不是叫 `sea-modules` 么？怎么成了 `sea_modules` ？

[2013-03-14 03:37] popomore commented on #21
第五点 arale 可能还是会用默认的方式，如果要用 puerh 就 require 使用。另外业务线以后也应该用 spm test，内置到 [spm-alipay-suite](https://github.com/spmjs/spm-alipay-suite) 中

[2013-03-14 03:43] leoner commented on #21
那就没有 totoro test 了？ 就是需要挂载到 spm 中？

[2013-03-14 03:47] popomore commented on #21
spm 这个包是给公司用的，totoro 还是可以自己发展

[2013-03-14 04:14] #18 closed, assigned to nobody

[2013-03-14 04:14] #17 closed, assigned to nobody

[2013-03-14 07:16] leoner commented on #21
恩，明白！

[2013-03-14 07:18] leoner commented on #8
[code]

目前版本为  0.0.2

[code]

[2013-03-15 05:36] leoner opened #26 "显示当前服务有效浏览器列表"
[code]

[code]

[2013-03-15 05:36] #26 closed, assigned to nobody

[2013-03-15 07:05] #8 closed, assigned to nobody

[2013-03-15 08:18] fool2fish opened #27 "开源仓库的fork开发方案"
见2楼

[2013-03-15 09:33] anson0370 commented on #27
以 queen 仓库为例：
1. fork 一份代码（假定为 queen2 ），queen2 的主干始终和queen的主干保持一致。

2. 新建 totoro 分支，有任何修改都在该分支上进行开发。
3. 从 queen2 的主干新建一个要 pr 的分支（假定为 pr-example），提取 totoro 分支中要 pr 的修改。

4. 通过 pr-example 分支向 queen 的主干发起 pull request。如果被接受，则更新 queen2 的主干。
5. 删除 pr-example 分支。

---

cherry-pick 使用：
- 提取指定分支的 HEAD 提交：`git cherry-pick totoro`
- 提取指定分支的 HEAD 往前 n 个提交：`git cherry-pick totoro~n`
- 提取多个连续提交：`git cherry-pic

[2013-03-16 15:28] leoner commented on #22
目前通过修改 queen 和 queen-remote 完成需求。
具体代码在 **https://github.com/leoner/queen** **https://github.com/leoner/queen-remote** 分支为 **totoro**
其中分别对这两个仓库改名为 totoro-queen 和 totoro-queen-remote.
目前代码已经部署到了 87 上面。

[2013-03-16 15:28] #22 closed, assigned to nobody

[2013-03-18 01:39] #27 closed, assigned to nobody

[2013-03-18 08:17] leoner commented on #23
### autocomplete 错误详情

[code]

[2013-03-18 08:35] leoner commented on #23
### dialog 错误详情

[code]

[2013-03-18 08:43] leoner commented on #23
### validator 错误详情

[code]

[2013-03-18 08:46] leoner commented on #23
### iframe-shim

通过

[2013-03-18 08:48] leoner commented on #23
### position

测试通过.

[2013-03-18 09:39] fool2fish opened #28 "定位和修复 arale 测试中发现的测试框架的问题"
关联issue： #23 使用 totoro 测试 arale 基础模块

[2013-03-18 09:51] fool2fish commented on #28
### 错误

  global leak detected: getInterface

### 如何重现
- ff 较新版本
- 通过 iframe 打开 runner

demo 见：docs>bugs>firefox-getInterface.html

### 关联组件

基本所有组件

### 分析&解决
- iframe 中 ，window.getInterface 一开始是 undefined，在某个时间点/或某些操作触发后才会赋值
- 如果在测试脚本运行前进行一下 dom 操作，或者运行 alert 都可以避免这个问题
- 如果打开过一次firebug，那么在浏览器关闭之前都一直不会出错

getInterface 的官方文档没看懂，暂无最优解决方案。

解决见：https://github.com/fool2fish/mocha/commit/7364e2dfd3841

[2013-03-18 10:12] fool2fish opened #29 "0.2.0 开发计划"
### Driver 常规功能
- [x] #39 整体设计改进
- [x] 命令行及参数
- [x] 配置文件及支持 package.json 配置
- [x] 将adapter移至server端
- [x] #47 测试指定超时
- [x] labor 匹配指定的 platform
- [x] server proxy cache
- [x] labor 崩溃后自动重新寻找匹配的labor
- [x] labor 负载均衡
- [x] #38 socket 发送频率控制
- [x] #40 测试用例中产生的语法错误处理
- [x] #41 测试适配器的扩展
- [x] windows 可用
- [x] #43 代理服务的优化
- [x] #53  帮助第三方浏览器守护程序监控的广播功能(支持qs的自定义id)
- [x] #54 内置jasmine adapter
- [x] 拆分客户

[2013-03-18 12:20] leoner commented on #28
### 错误

  global leak detected: 0
  global leak detected: 1

### 如何重现
- ie6 , 7, 8, opera
- 页面插入 iframe

demo 见 docs>bugs>access-iframe-by-window[iframeIndex].html

### 关联组件

iframe-shim

### 分析和解决

所有浏览器都可以通过 window[iframeIndex] 访问页面内的 iframe，但只有 IE678 和 opera 会通过遍历获得键值，所以会报错。

解决见：https://github.com/fool2fish/mocha/commit/7364e2dfd384134c6e3240e424746dd73082699b

[2013-03-19 03:58] fool2fish commented on #28
### 错误
- it.skip 会使多个浏览器卡死
- ie9 的测试报告缺失

### 如何重现

只要包含 skip 的用例都会出现此问题

### 分析和解决

经过测试发现在遇到 skip 的用例的时候， mocha 会发布 **pending** 和 **test end** 事件， 而在 thrill 中的 thrill-mocha-adapter.js 中输出报告的时候并没有订阅 **pending** 事件，而只是订阅了 **test** 和 **test end** . 他在 **test** 事件中会进行一部分内容初始化，而在 **test end** 的时候会用到这些信息。这就导致了在进行测试输出 **test end** 的时候缺少信息, 而报错

解决见: https://github.com/leoner/thrill/commit/66504870941fa

[2013-03-20 03:23] leoner opened #30 "指定浏览器进行测试"
### 使用方式

[code]

totoro 将会根据用户的输入匹配相应的浏览器进行测试。

#### browsers 有效配置:
- ie ie6 ie7 ie8 ie9 ie10
- chrome chrome22
- firefox firefox19
- opera opera11
- safari safari6
1. 对于没有版本的都是模糊匹配，对于匹配上的浏览器都将进行测试。
2. 针对某一具体的浏览器. 如果不匹配将没有浏览器被执行

[2013-03-20 09:27] lepture commented on #30
上次和 @fool2fish 讨论了浏览器的写法，应该是

所以应该是 -b ie/6,ie/7

http://docs.spmjs.org/en/package

[2013-03-20 10:09] #30 closed, assigned to leoner

[2013-03-20 10:46] fool2fish commented on #28
### 问题

配置了 mocha.globals([...]) 之后，测试代码运行会明显变慢，以 ie 和 opera 尤为明显

### 分析和解决

mocha 中的内存泄露检测代码本身效率不高，配置了 mocha.globals([...]) 之后，还对所有的测试用例都进行了内存泄露检测

解决方案：
- 对 Runner.prototype.checkGlobals() 进行修改，新增 this.prevGloblasLength，记录上一个 test 运行完成后全局变量的个数，再和本次进行对比，如无变化，则认为无需检测全局变量泄露的问题。（唯一的问题是，在本测试中，如果先删除了一个之前的全局变量，再添加了一个新的全局变量，则会检测不出来。但这种情况可以忽略。）
  - 效率提升：以前有 n 个测试，就会进行 n 次检查，但现在只会对第一个测试和其他有泄露的测试进行检查
- 对

[2013-03-21 06:14] leoner commented on #30
已经支持下面写法

[code]

[2013-03-21 06:38] lepture commented on #30
@leoner 我觉得原来的写法也可以保留，两种都可以工作。

[2013-03-21 06:43] leoner commented on #30
恩，是的，都支持

[2013-03-22 02:47] fool2fish commented on #28
### 问题

64位 win7 的 ie8 在运行测试时会内存溢出

### 分析

及时测试内部没有断言，甚至没有任何代码，在测试个数达到一定数量后就一定会报内存溢出。需要进一步查看 mocha 的实现。

[2013-03-25 03:26] leoner opened #31 "thrill 关于扩展适配器的选择"
### 适配映射

[code]

通过这个配置可以在指定的测试页面中添加 seajs 测试适配器。目前还没有想到更好的方式，暂时先通过这个方式啊。

在 thrill 模块中修改代码增加了下面这个配置:

[code]

通过这个来对指定页面添加适配器，适配器将会添加到 head 最后面。

[2013-03-25 13:06] afc163 commented on #23
overlay 在 ie7 下有两个用例跑不过，实测通过。

[2013-03-27 08:02] fool2fish commented on #28
## 问题

overlay，popup 等组件，在判定dom是否可见时，在ie7下得到的结果总是不可见。

## 分析和解决

queen 在 iframe 中运行 runner，原 iframe 是 0x0，即不可见，这导致在ie7（如果是其他类型的ui判断，如位置等，其他的ie也可能有问题）中不能准确判断

将iframe的尺寸改为 10x10 即解决

[2013-03-28 13:42] leoner opened #32 "对于自动创建的测试页面，测试完成后，进行删除"

[2013-03-29 07:14] lifesinger commented on #31
能否这样：

[code]

adaptor 可以是默认的，比如 mocha、jasmine 等，也可以指向本地的一个文件
seajs 的适配器，应该放在 seajs 的仓库中才对

[2013-03-29 09:30] #19 closed, assigned to nobody

[2013-03-29 10:51] lepture commented on #31
@lifesinger 这样的配置才对嘛。

[2013-03-29 11:48] leoner commented on #31
恩，原来的配置确实不妥，今天早上和 @fool2fish 讨论的就是准备换成 **adaptor** 这个参数。
不过直接指定适配文件现在还有点问题，因为适配器需要在我们依赖的那个框架 thrill 打包编译后才能使用，所以还需要看看 thrill 这个框架中能否支持.

**目前可以支持下面几个参数:**
1. jamsine
2. mocha
3. qunit
4. yuitest
5. seajs

[2013-03-31 13:11] #32 closed, assigned to nobody

[2013-03-31 13:39] leoner commented on #31
目前的方式为:

[code]

其中默认的 runner 就是 **tests/runner.html**

[2013-03-31 13:43] #31 closed, assigned to nobody

[2013-03-31 13:49] lifesinger commented on #31
好

[2013-04-03 07:16] #28 closed, assigned to nobody

[2013-04-04 02:17] leoner opened #33 "浏览器丢失问题的处理"
测试前8个浏览器正常，但是返回结果只有6-7个浏览器信息，是否增加一种机制可以确保用户能够得到所有浏览器的结果，比如在返回结果前如果发现缺失，我们可以和之前的对比，重新对剩余的浏览器发起再次请求，或者就是更明确的对用户进行提示？

[2013-04-08 03:26] fool2fish opened #34 "自定义报告"
不支持命令行参数配置，仅支持模块调用

[code]

[2013-04-08 09:16] leoner opened #35 "命令行参数"
## 命令行方式

totoro-test 目前充当了 server 和 client 双重角色。分别通过 **--server** 和 **--client** 来启动.默认是 **client**
### 启动服务

[code]
### 启动测试

[code]
### 查看可用测试机器

[code]
## 配置方式
- 目前 totoro 统一成 totoro-config.js 配置，具体配置方式待定。

[2013-04-08 14:08] leoner opened #36 "当在使用 totoro-test 测试中， queen 服务停止后，totoro test 不能正确的终止服务"
当 queen 服务停止时可以给用户进行反馈

[2013-04-10 09:28] fool2fish commented on #36
已解决

[2013-04-10 09:28] #36 closed, assigned to nobody

[2013-04-10 10:27] #23 closed, assigned to leoner

[2013-04-10 10:28] #7 closed, assigned to nobody

[2013-04-11 02:31] fool2fish commented on #35
需联合考虑 package.json 的配置项，之前的讨论见 #21

[2013-04-11 02:34] fool2fish opened #37 "配置文件"
如题，需考虑：
1. totoro-config.json
2. ~/.totoro/config.json
3. 新老版本spm的package.json

同时需考虑命令行选项：参考 #8

配置文件的规范需要先在小组达成共识

[2013-04-11 02:36] fool2fish opened #38 "socket 发送频率控制"
问题：目前只要有消息就会发送，测试用例数量较多且测试效率较高时，多个socket同时发送会造成内存溢出。

解决：labor和client都控制发送频率

[2013-04-11 02:39] fool2fish opened #39 "整体设计改进"
问题：

依赖thrill和queen
1. 代码复杂，难以维护和改进
2. 测试效率较低
3. 对异常的处理不完善

解决：

根据原思路重构

[2013-04-11 08:22] fool2fish opened #40 "测试用例中产生的语法错误处理"
如题

[2013-04-11 08:23] fool2fish commented on #40
see a1f3aca2dd

[2013-04-11 08:23] #40 closed, assigned to nobody

[2013-04-11 08:27] fool2fish commented on #38
see a19f237709.. 6434f0b0c8

[2013-04-11 08:30] #38 closed, assigned to fool2fish

[2013-04-13 15:37] leoner opened #41 "测试适配器的扩展"
1. 适配器模块代码重构.
2. 支持用户自定义适配器

[code]

[2013-04-14 06:38] afc163 opened #42 "建议库名改为 totorojs/totoro"

[2013-04-14 08:50] lifesinger commented on #41
赞，意味着 seajs 的 adapter 可以放到 seajs 自身的库了？

On Sat, Apr 13, 2013 at 11:37 PM, hui.kang notifications@github.com wrote:

##

王保平 / 玉伯（射雕）
送人玫瑰手有余香

[2013-04-14 14:37] leoner commented on #42
totoro 是一个整体的方案，他会包括测试质量工具等，目前 totoro-test 只是关注测试的一个模块。
后续会有一个 totoro 的。

[2013-04-14 17:27] leoner opened #43 "totoro-test server 代理服务乱码"
由于在某些测试用例中存在请求 GBK 的资源(如: seajs config tests). 这个时候我们对请求的内容没有进行编码转换就直接缓存了，所以会造成代理的结果不正确。
但是目前获取资源请求的编码暂时没有找到，所以对目前代理的处理方式进行了修改，并且暂时也先不缓存资源了。

@fool2fish

[2013-04-14 17:30] #43 closed, assigned to nobody

[2013-04-14 17:31] leoner commented on #41
现在 seajs 的适配器基本上的能用了，就差时间信息的输出了，明天在完善下，应该就可以提交了。

[2013-04-15 03:26] fool2fish opened #44 "runner增加新窗口运行模式"
比较 iframe 和 new window 模式，两者的测试效率和稳定性

[2013-04-15 03:42] #44 closed, assigned to fool2fish

[2013-04-15 03:43] fool2fish commented on #44
### run in iframe

![run-in-iframe](https://f.cloud.github.com/assets/340282/379061/9209de5a-a57e-11e2-98ac-c13fceaa2dbd.png)

### run in new window

![run-in-new-window](https://f.cloud.github.com/assets/340282/379062/95e133de-a57e-11e2-9441-36f1da7819d9.png)

多个浏览器中进行测试，均标明new window的效率并不比iframe 高

[2013-04-15 05:18] leoner opened #45 "查看当前有效浏览器列表"
[code]

[2013-04-15 07:56] leoner opened #46 "过滤重复 labor"
下面两个地方需要进行过滤:
1. 查看有效浏览器列表.
2. 分发 order.

[2013-04-15 08:09] #46 closed, assigned to nobody

[2013-04-15 08:39] #42 closed, assigned to nobody

[2013-04-15 08:41] leoner commented on #33
目前新的服务相对比较稳定，暂时不会出现此问题。先关闭！

[2013-04-15 08:41] #33 closed, assigned to nobody

[2013-04-15 08:44] leoner commented on #35
命令行的方式已经完成。

[2013-04-15 08:49] fool2fish commented on #25
已实现绝对的效率监控模式
对于运行得比较慢的测试用例，测试结果中会列出

[2013-04-15 08:56] #25 closed, assigned to nobody

[2013-04-15 09:02] fool2fish opened #47 "客户端超时选项"
see 9af6c94
- 命令行参数： --timeout
- 单位：分钟
- 默认值： 5

注意，这个和测试超时没有关系，测试超时是又测试套件本身指定的。客户端到达该时间后，会自动停止测试，以防浏览器卡死等情况出现。

[2013-04-15 09:15] #47 closed, assigned to nobody

[2013-04-16 12:41] leoner opened #48 "ie9 测试不通过"
相关代码: static/constractor.html

[code]

如果 remoteOrder 异步执行，就是加上 setTimeout 程序没有问题.
下面是 ie9 下面的打印信息.
- 异步正确的日志
  ![52559D21-B306-4F56-9049-34CE0EF8E4E3](https://f.cloud.github.com/assets/546535/385811/e5cea5a6-a692-11e2-93d0-e60767d79fe4.jpg)
- 同步产生错误的日志
  ![19F0BC54-9F1A-4B2E-B5F4-89ECD020F30E](https://f.cloud.github.com/assets/546535/385814/fbddc94e-a692-11e2-90fd-b777f7efc7eb.jpg)

@fool2fish

[2013-04-17 08:24] fool2fish commented on #48
see  @e82b55a

两个原因：
1. 在删除iframe后的很短时间内，iframe的测试脚本似乎还在运行，然后会发生错误，并报告这些错误（浏览器垃圾回收问题，没有特别好的办法解决。setTimeout 强制重新队列到最后运行）
2. 报告的数据是 JSON 格式的，并且有缓存，定时发送，所以当发生错误时，'end' 的数据会被修改，导致最后发送到服务端的数据错误。

[2013-04-17 08:24] #48 closed, assigned to nobody

[2013-04-17 14:09] leoner commented on #41
适配器检查不够完善。

[2013-04-17 14:09] #41 closed, assigned to nobody

[2013-04-17 15:25] #45 closed, assigned to nobody

[2013-04-17 15:25] leoner commented on #45
1. list 服务优化，改为普通的 http 请求。
2. 增加错误捕获。

[2013-04-18 02:02] fool2fish commented on #39
### 服务

![totoro-test1](https://f.cloud.github.com/assets/340282/394661/020137fe-a7cc-11e2-9105-08e77b49cdff.png)

### 测试过程

![totoro-test2](https://f.cloud.github.com/assets/340282/394662/066605d6-a7cc-11e2-8a55-1557d577f6ef.png)

[2013-04-18 02:02] #39 closed, assigned to fool2fish

[2013-04-22 02:00] fool2fish opened #49 "增强日志功能"
1. 日志格式可配置，可自动显示代码所在的文件，方法位置等
2. 确定日志规范
3. 帮助工具进行最基本的数据分析，如每天有多少 浏览器次 测试运行等

[2013-04-22 02:02] fool2fish opened #50 "支持全局配置"
[code]

可在全局配置中进行配置

[2013-04-22 07:35] leoner commented on #49
增加日志按周输出

[2013-04-22 09:16] leoner commented on #49
日志文件默认存储在运行目录下面的 logs 目录中。
目前在命令行中输出规范为:

[code]

文件中输出规范为:

[code]

[2013-04-23 02:16] leoner commented on #49
增加日志文件输出开关，在测试的时候，可以允许用户关闭!

[2013-04-23 03:24] leoner opened #51 "关于totoro下面相关模块全局配置文件风格和方式讨论"
**配置位置**
1. 全局   // 位置在 ~/.totorojs
2. 项目  (新增一个配置，或者配置在 package.json 中)
3. 是否还有其他类型的配置? (比如原来的源配置？)

**配置名称**
1. 我们全部都叫 totorojs.json or totorojs.js.或者其他一个统一的名称， 然后通过不同的字段来区分不同的模块。
2. 不同的模块有不同的配置文件。

**配置文件内容形式**
-  模块形式，就像 Gruntfile.js

[code]
- 还是json 形式

[code]

@fool2fish @hotoo @noahlu @lifesinger

[2013-04-23 07:25] lifesinger commented on #51
## 配置位置
1. 用户：建议  `~/.totoro/`    不要加 js，与 `~/.spm/` 目录一样，配置文件为 `totororc`，格式为 ini 格式。
2. 项目：建议在项目根目录下，也是 ini 文件，名称为： `.totororc`
3. 不需要其他类型的配置，出发以后有需求，等以后再考虑

## 配置名称
1. 用户目录下的 `~/.totoro/totororc`   项目目录下的： `.totororc`
2. 是  ini 文件，通过不同字段区分，比如

[code]

## 配置字段

ini 风格

totoro 理论上与 package.json 无关联，totoro 自身的配置，都存放在 totororc 文件中，只是 totoro 可以从 package.json 中读取需要的字段。

以上配置风格与 spm2 是一致的，南伯补充。

[2013-04-23 07:28] lepture commented on #51
配置名称 `totoro-` 前缀可去掉。

[2013-04-23 07:35] hotoo commented on #51
ini +1

[2013-04-23 07:41] fool2fish commented on #51
[code]

理由
1. 和代码风格统一
2. 不需要依赖额外的解析器
3. 可扩展性好

[2013-04-23 07:43] lepture commented on #51
ini +1

[2013-04-23 08:03] lifesinger commented on #51
ini +5

On Tue, Apr 23, 2013 at 3:43 PM, Hsiaoming Yang notifications@github.comwrote:

##

王保平 / 玉伯（射雕）
送人玫瑰手有余香

[2013-04-23 09:12] leoner opened #52 "增加代理客户端内容缓存"
当多个浏览器运行相同测试用例的时候，服务器只需要保存一份客户端数据就行。其他浏览器再次请求相同内容从缓存中获取.

[2013-04-23 09:14] #52 closed, assigned to nobody

[2013-04-23 09:27] leoner commented on #51
大家都喜欢 ini 那就 ini 呀。

[2013-04-24 01:57] fool2fish opened #53 "服务端提供事件广播功能"
目的：帮助第三方浏览器守护程序进行监控

[2013-04-24 01:59] leoner commented on #53
[code]

[2013-04-24 02:00] fool2fish opened #54 "内置jasmine adapter"
如题

完成后请在 examples/jasmine 提供一个可运行的简单例子。测试代码可以只有一个测试用例。

[2013-04-24 02:01] #35 closed, assigned to leoner

[2013-04-24 02:01] #49 closed, assigned to leoner

[2013-04-24 02:08] fool2fish commented on #53
[code]

server 只广播自己的行为，守护程序如何做出相应的处理由守护程序自己决定

[2013-04-24 02:09] lifesinger commented on #53
action 里的 start 拼写错了

capture 是啥意思？

[2013-04-24 02:11] leoner commented on #53
capture 就是浏览器守护程序需要打开的地址。原来从 queen 沿用下来的名字。

[2013-04-24 04:01] fool2fish commented on #53
close: 8bc3e4b..3b1536d

[2013-04-24 04:01] #53 closed, assigned to nobody

[2013-04-24 08:35] leoner opened #55 "logger 模块分理出来一个单独的模块"
把 logger的代码分离出一个单独的模块， totoro 改依赖这个模块。

[2013-04-24 08:35] #55 closed, assigned to nobody

[2013-05-02 09:44] leoner commented on #51
最新确定还是 json.

[code]

[2013-05-02 09:44] #51 closed, assigned to nobody

[2013-05-02 09:45] leoner commented on #50
完成，参看 #37

[2013-05-02 09:45] #50 closed, assigned to leoner

[2013-05-02 13:08] leoner opened #56 "参数 platforms 改为 browsers"

[2013-05-03 00:56] lifesinger commented on #56
嗯，这样更清晰。

On Thu, May 2, 2013 at 9:08 PM, hui.kang notifications@github.com wrote:

##

王保平 / 玉伯（射雕）
送人玫瑰手有余香

[2013-05-03 01:56] #56 closed, assigned to fool2fish

[2013-05-03 02:01] fool2fish opened #57 "将adapter移至server端"
好处：
1. 减少更新客户端的需要
2. 支持 --runner=url 来测试线上的测试页面

[2013-05-03 02:03] fool2fish opened #58 "代码review和改进"
- [x] 去 underscore
- [x] 重构参数预处理
- [x] 重构 utils.js

client和server
- [x] --platforms 改为 --browsers
- [x] 修改 OrderManager 和 LaborManager 的部分方法名
- [x] 统一order，list等方法名和socket名
- [x] 分离client和server
- [x] --adapter移至server

[2013-05-03 02:09] #54 closed, assigned to leoner

[2013-05-03 06:44] lifesinger commented on #58
全部修改好后，再告诉我下，我再来看看，一起学习互进。

关于 「Manager 命名一般来说是坏味道」的说法，我重新 google 了下，可以参考：
- http://www.codinghorror.com/blog/2006/03/i-shall-call-it-somethingmanager.html

还有一篇各种争论：
- http://c2.com/cgi/wiki?DontNameClassesObjectManagerHandlerOrData

离开 OO 世界好久了，感觉上面的讨论也很久远。沉鱼看看，笑笑而过吧。

[2013-05-08 07:14] fool2fish opened #59 "--browsers 如果一个浏览器都没有匹配，应该及时结束"
如题

[2013-05-09 06:27] fool2fish commented on #53
开放 --insertScripts 选项，不主动提供监控功能

[2013-05-13 06:40] leoner commented on #57
到处理 --runner=url 处理线上测试页面的时候，在 server/order 中，由于接收到的 host 和 port 都是用户客户端的，所以如果用户指定的 runner 是线上的，
1. 在客户端把 host 和 port 替换成 runner 对应的？
2. 如果用户还指定了本地的 adapter的话，怎么处理？
3. 还是说客户端不发送 host 和 port 了，runner 和 adapter 都是标准的 url(keyword 除外)。 server 负责解析对应的 host 和 port

[2013-05-13 06:42] fool2fish commented on #57
- runner 变成url，无clientHost 和clientPort
- adapter 为 url 或关键字，如 mocha

[2013-05-17 09:17] fool2fish opened #60 "--runner 指定本地路径时支持 qs 和 hash"
如题

[2013-05-17 09:19] #57 closed, assigned to fool2fish

[2013-05-17 09:19] #37 closed, assigned to leoner

[2013-05-18 02:32] lifesinger commented on #58
我还没 review 呢，保留 open 先。

[2013-05-20 02:21] #59 closed, assigned to nobody

[2013-05-24 03:18] lepture opened #61 "design command line"
设计正常的 --arguments。

[2013-05-24 03:22] #61 closed, assigned to nobody

[2013-05-24 06:40] #58 closed, assigned to nobody

[2013-05-24 06:41] fool2fish commented on #60
移至 totoro-server 处理

[2013-05-24 06:41] #60 closed, assigned to nobody

[2013-05-28 06:49] fool2fish opened #62 "取消客户端服务相关配置，改为随机端口"
如题：

totoro --host  指定服务

totoro-server --host 和 browsers --host 指定启动服务

totoro 对端口占用进行检测？

随机端口后，在同一台机器上可以同时运行多个测试，对ci会有帮助？

[2013-05-28 07:58] fool2fish opened #63 "--runner 指定本地路径时支持 qs 和 hash"
如题

[2013-05-28 10:54] fool2fish opened #64 "客户端 http 服务外网无法访问"
### 问题描述

--runner 为本地文件时， client 会起一个 http 服务，用于让 server 访问 runner，但公共服务访问不了局域网的 client http server

通用的解决方案是在局域网的路由上安装一个代理，如 selemium

但这样的解决方案过于笨重，需要寻求更轻量的解决方案
### 设想的方案

服务端处理流程

![http-and-socket-proxy](https://f.cloud.github.com/assets/340282/767470/e8a8f0fc-e881-11e2-87f0-807446383f9f.jpg)

这样的设计下，系统是具有弹性的，当服务可直接访问 runner 的时候，就按原来的方式（http 代理），当服务不可直接访问 runner 的时候，就用 socket 代理的方案
#### 关键步骤：p

[2013-05-29 02:39] leoner opened #65 "客户端服务增加随即端口控制"
如果本地执行多个测试的话，可能会造成本地服务端口冲突。
当默认端口冲突后会从 **[7000-8000]** 之间随即一个端口进行使用

[2013-05-29 02:42] leoner opened #66 "客户端增加自定义 adapter 自动查找功能"
如果在用户指定的 runner.html 同级目录中发现 totoro-adapter.js . 那么当用户没有配置adapter 的时候，会自动把这个添加为用户的默认 adapter

目前只支持本地 adapter 查找，如果用户指定的 runner 是 url ,暂不支持线上适配。

[2013-05-29 05:35] #65 closed, assigned to nobody

[2013-05-30 02:41] leoner commented on #63
hash 不支持。

[2013-05-30 03:08] #66 closed, assigned to nobody

[2013-05-30 03:08] #63 closed, assigned to nobody

[2013-05-30 03:09] leoner commented on #62
客户端相关配置保留，端口改为随机端口，详情查看 #65

[2013-05-30 03:09] #62 closed, assigned to nobody

[2013-05-31 13:53] leoner opened #67 "当执行测试的时候用户不指定浏览器，服务器将按照规则选择浏览器去执行"

[2013-06-01 01:16] #67 closed, assigned to nobody

[2013-06-01 01:19] #29 closed, assigned to nobody

[2013-06-01 01:34] fool2fish opened #68 "通过 --config 参数进行全局配置"
如题，类似 git config

这样用户不用关心平台，直接设置即可

[2013-06-04 06:19] fool2fish opened #69 "异常退出处理"
如题

通过模块的形式调用时，如果出现异常，怎么处理？

是否要和 cfg.report 关联起来？

[2013-06-06 09:32] afc163 opened #70 "测试完显示汇总信息"
目前是各个浏览器的信息挨个打出，浏览器较多时，需要拖动到上面才能看到所有的测试结果。建议在最后打出简洁的汇总信息。

[2013-06-08 09:27] alvinhui opened #71 "【求助】首次配置totoro环境测试官方demo返回no active browser"
### 软件背景
1. **操作系统**：Linux mint 14 / 内核版本： 3.9.0
2. **浏览器信息**：Chrome 27.0.1453.93
3. **totoro版本**：0.2.2
4. **totoro-server版本**：0.2.2
5. **browsers版本**：0.4.6
### 重现步骤
1. **安装totoro**：进入 https://github.com/totorojs/totoro 下载zip方式获取项目，解压，进入解压后文件夹，运行sudo npm install -g

[code]
1. **安装totoro-server**：git clone方式获取项目，解压，进入解压后文件夹，运行sudo npm install -g

[code]
1. **安装browsers**：npm install browsers -g

[c

[2013-06-24 06:47] fool2fish commented on #71
1、--list 用于显示可用的测试机机器，当该参数存在的时候不运行单元测试
2、建议先不要使用 browsers，手工打开浏览器，访问 {{your ip}}:9999，看看测试是否能正常运行
3、看截图似乎是没有找到浏览器，目前明确能跑的是mac和win系统，linux还未测过。你的浏览器是按默认路径安装？

[2013-06-24 10:27] alvinhui commented on #71
感谢回复。

经我这边的本地测试，应该是可以跑linux系统的。在我第二次重试后已经可以得到期待中的结果。（实现步骤和第一次测试时一模一样）

我的浏览器安装都是默认路径的。比较奇怪的是只能检测到Chrmoe检测不到Firefox。

有个疑问是，为什么在browsers配置里没提供参数来设置浏览器路径？（还是说有但我没找着？）

[2013-06-24 10:56] #70 closed, assigned to fool2fish

[2013-06-24 13:26] leoner commented on #71
@alvinhui 配置没有开放出去，下一步会支持不同操作系统下面的浏览器路径配置.

[2013-06-25 03:38] #34 closed, assigned to nobody

[2013-06-25 08:16] #71 closed, assigned to nobody

[2013-06-25 09:01] fool2fish commented on #68
设置

totoro --config --server-host=0.0.0.0 --cfg-name=cfg-value

删除

totoro --config --server-host

读取

totoro --config

用户可能唯一需要进行全局配置的就是这个选项，看起来就没有必要让用户根据操作系统去找全局配置文件了，用起来页比较简单

[2013-06-27 02:11] leoner commented on #68
我们常用的参数就是这两个，而且一般参数的内容也不经常变化，所以这种方式挺好的，那我们就支持下吧。

[2013-06-27 10:31] fool2fish commented on #68
记得改下 readme 里相应的部分啊

[2013-06-27 10:52] fool2fish opened #72 "读取 package.json 中的 browsers 信息"
如题

[2013-06-28 04:32] leoner opened #73 "增加 list 子命令"
查看当前有效浏览器:

[code]

改为子命令的方式

[code]

[2013-06-28 07:51] #68 closed, assigned to leoner

[2013-06-28 07:51] #73 closed, assigned to nobody

[2013-06-28 14:25] fool2fish opened #74 "修改 reporter 接受的数据格式"
如题

[2013-06-28 15:29] fool2fish commented on #74
为了让数据格式更具有扩展性，详细格式请见此提交的 lib/client.js(line:115)

[2013-06-28 15:29] #74 closed, assigned to nobody

[2013-07-02 03:32] leoner commented on #64
目前的方案是通过客户端和服务器建立 socket 链接，然后服务器端通过 socket 的方式从用户这里读取数据。

[2013-07-02 09:21] leoner commented on #64
基本上结构出来了，但是遇到了一个比较严重的问题，就是从客户端 emit 到服务器的 buffer 内容，在服务器端解码后的内容为

[code]

应该是传输的时候 buffer数组被转成字符串了，晚上在研究下看看能不能正确的反转过来.

[2013-07-02 15:04] leoner commented on #64
目前已经初步完成一个版本了，但是现在就是什么情况来使用 socket 传输，还是说我们压根就是直接通过 socket 传输，不通过 http 的方式了。

[2013-07-02 15:06] leoner commented on #64
现在的处理逻辑还是本地启动一个 server, 然后通过 socket 接收从服务器端传递过来 request 的信息，然后去请求本地的 http 服务，然后在把相应的 res 信息 emit 给服务器。

本地的 server 还是必须的，因为还是牵扯到 http 请求编码啥的，如果我们直接通过文件读取还是有点问题的。

[2013-07-03 05:28] leoner commented on #72
没有太明白，在 package.json 中我们支持配置 browsers ?

[2013-07-03 06:01] leoner commented on #64
现在有一个问题，就是测试 seajs 的时候，如果测试浏览器中包括多个浏览器，那么 ie6.0 浏览器经常就会挂掉。错误提示为

[code]

 但这个错误也不是百分百重现，如果再次出错，尝试用这个解决下
http://support.microsoft.com/kb/925418

[2013-07-04 01:58] leoner commented on #64
目前就是用我们自己的服务器是没有问题的，只有用一个外网的服务器会出现此问题，而且当只有一个 ie6 的时候，也没有问题，不知道是不是国外服务器网络的问题？

[2013-07-04 02:49] afc163 opened #75 "totoro list 显示更多信息"
显示所有可测试的浏览器和操作系统信息，包括浏览器小版本号和操作系统小版本号。

[2013-07-04 08:06] leoner commented on #75
[code]

目前就 win 下面无法显示浏览器的小版本号和操作系统的小版本号，因为

[code]

没有足够的信息可以获取呀。

[2013-07-04 10:05] lifesinger commented on #75
Windows NT 有版本号呀
浏览器到 4.0 和 5.0 就够了

On Thu, Jul 4, 2013 at 4:06 PM, hui notifications@github.com wrote:

##

王保平 / 玉伯（射雕）
送人玫瑰手有余香

[2013-07-04 11:00] afc163 commented on #75
ie 系列的小版本号，有意义。

[2013-07-05 02:02] leoner commented on #75
收集了下 ie6 的小版本，如果对我们有意义的话，估计又要在崩溃一次了呀。

[code]

[2013-07-05 02:41] hotoo commented on #75
崩溃了~

[2013-07-06 01:16] lifesinger commented on #75
没必要吧
什么 bug 要这么精准的信息？
个人觉得拿到这些小版本，对我们也没什么帮助。

On Fri, Jul 5, 2013 at 10:41 AM, 闲耘(tm) notifications@github.com wrote:

##

王保平 / 玉伯（射雕）
送人玫瑰手有余香

[2013-07-06 14:13] lifesinger commented on #64
现阶段是否可以不支持外网？让局域网的部署变得方便就行。最近跟 hax 还有微软的一个同学聊过，他们更期待能有更方便的局域网部署方案（文档），能方便部署在自己公司，这样：
1. 不用考虑网速问题，外网速度是个考虑点，内网会快很多。
2. 不用担心安全问题，有些测试代码，放到外网有顾虑。

因此我的想法，外网访问的问题可以暂缓，即便我们可以申请得到阿里云的资源，后期维护，并发等等，也都存在问题，会消耗掉我们大部分时间。现阶段还是聚焦在测试工具本身的完善上比较好。

阿里云的资源，我也去联系了下，预算要明年了。我会记下来，明年去申请。

[2013-07-06 14:13] lifesinger commented on #64
IE6 的问题有进展没？有没有定位到具体原因？

[2013-07-07 03:18] leoner commented on #64
目前 xbox 的测试还是能把ie6 搞挂，还没有找到原因啊。

[2013-07-07 14:23] lifesinger commented on #64
@leoner xbox 是否有在 dom ready 之前插入 dom 的操作？我怀疑还是这个原因导致。

[2013-07-07 16:16] leoner commented on #64
恩，在之前直接通过 ie6 访问也是会直接挂掉的，经过测试用例的修改，直接访问是没有问题了。但是通过 totoro 还是会挂。 明天测试下，看看通过 iframe 访问 xbox 的测试用例有没有问题。

[2013-07-08 02:09] leoner commented on #64
iframe 的方式也是会挂的，但是不是立马挂掉，而是等了一会时间后，会弹出那个 R6025 pure virtual function call 的错误框

[2013-07-08 02:10] leoner commented on #64
但是也不是百分百重现, 但是10次应该有5次能出现这个错误

[2013-07-08 02:38] lifesinger commented on #64
xbox 里是否有调用 iframe-shim？将 xbox 的测试代码，放到 dom ready 里试试。

[2013-07-08 02:57] fool2fish commented on #75
ie不支持小版本号，翻了下issue，这个需求好像是从xbox出来的？即便我们提供了所有小版本的ie，最后测试也只会告诉用户那个版本的出问题了，排查问题的时候还是需要自己打开对应的ie去看，投入产出比太低，而且是非典型需求

[2013-07-08 02:58] fool2fish commented on #72
嗯，因为如果 server-host 和 server-port 通过 config 来配置的话，理论上就只有 browsers 需要配置了
不过这个配置的格式如果想放到 package 中还需要看下业界的做法，在周会上讨论下先

[2013-07-08 03:25] lifesinger commented on #72
一般不用配 browsers 吧？

[2013-07-08 03:46] fool2fish commented on #64
测试工具本身还需要完善啥？0.3.0 的功能没啥所谓本身需要完善的功能啊，连 coverage 都不是

[2013-07-08 04:02] lifesinger commented on #64
CI

On Mon, Jul 8, 2013 at 11:46 AM, fool2fish notifications@github.com wrote:

##

王保平 / 玉伯（射雕）
送人玫瑰手有余香

[2013-07-08 04:13] afc163 commented on #75
没有理解我的意思，不是需要 totoro 提供所有小版本号的测试机器，而是遇到一些诡异问题后，希望看一下对应浏览器的小版本号帮助排查。现在没有办法登录到测试机上自己去查看，只能由工具把这个信息给出来。

[2013-07-08 05:58] fool2fish opened #76 "totoro config 异常"
totoro config --server-host=0.0.0.0 输出了版本号
其他两个 config 功能没有测

[2013-07-08 05:59] leoner commented on #72
karma 也是通过其他配置文件的，那我们是不是如果用户需要指定浏览器的话，也是通过我们的 totoro-config.js 来完成？就不污染 package.json 了。

[2013-07-08 06:53] fool2fish commented on #76
1. `totoro config` 时，如果没有任何配置，应该输出一个 cyan 颜色的提示，告诉用户当前没有任何全局配置
2. `totoro config --server-host` 为删除 --server-host 全局配置，而非显示指定的项的全局配置，查看全局配置总是由 `totoro config` 来完成，且总显示全部的全局配置，选项少，没必要指定
3. commander 会自动把 --server-host 转换成 --server-host=true，要处理下，如果确实没有传值，则认为传入了一个非真值，只要是传入非真值的，就删除
4. updateGlobalCfg() 时，如果全局配置文件不存在则要先创建

[2013-07-08 07:39] lifesinger commented on #72
我比较赞同 totoro-config.js 的方案，不污染 package.json

2013/7/8 hui notifications@github.com

##

王保平 / 玉伯（射雕）
送人玫瑰手有余香

[2013-07-08 07:41] fool2fish commented on #75
只是显示小版本技术上问题是不大的，但需要考虑的是：
1. 这是不是一个大多数人都需要的功能，或者说除了 xbox 还有其他需求么？
2. 原本的 list 信息有分组的，后面跟了有多少个同类浏览器在跑的数字，如果 ie 系也弄小版本号，那分组浏览器一多，看起来就很头大了

[2013-07-08 07:47] lifesinger commented on #75
这个我觉得可以先关闭吧，等第三次再遇到类似需求时，再考虑。

2013/7/8 fool2fish notifications@github.com

##

王保平 / 玉伯（射雕）
送人玫瑰手有余香

[2013-07-08 08:42] afc163 commented on #75
小版本号可以不参与分组啊。

另外，显示操作系统信息目前也不是什么大多数人都需要的需求吧。显示出来只是为了数据的完备性。

[2013-07-08 08:54] fool2fish commented on #75
不参与分组，怎么显示？

[2013-07-08 08:58] fool2fish commented on #72
理论上是要配置 browsers 的，标记自己的代码是兼容哪些浏览器的，这个信息属于 package.json 也正常（当然现在还没有）

totoro-config.js 这个不变，只是说如果没有配置文件的时候，多去查看下 package.json

如果不配的话，就按服务端现有的浏览器来跑

[2013-07-08 13:56] leoner commented on #76
1. `totoro config --server-host=""` 当用户明确指定某个配置为空时，删除此配置.

[2013-07-08 15:29] #76 closed, assigned to leoner

[2013-07-09 07:42] #75 closed, assigned to nobody

[2013-07-09 07:57] leoner opened #77 "关于 ie6 浏览器崩溃的问题"
上周到现在陆续发现 ie6 莫名的挂掉, 挂掉主要是产生下面两个错误:
![ce38be19c717ca4c7c4462e21c6cc0a4](https://f.cloud.github.com/assets/546535/766671/4409527e-e86a-11e2-9116-a97cd4460be1.png)
![64899ce54dc4c68c8a0634b7c8dafca4](https://f.cloud.github.com/assets/546535/766678/6b00344c-e86a-11e2-9e5a-f141a336ab4d.png)

目前产生问题主要有以下几个原因,供参考:
### 代码错误

totoro 在进行 socket 改造的时候, runner.html 的装饰方法执行了多次, 导致了在同时运行多个浏览器的时候, ie6 由于执行的比较慢,

[2013-07-09 08:02] fool2fish commented on #77
seajs 导致浏览器崩溃的原因是在ie下运行太快了，调慢在ie下运行的速度即可

[2013-07-09 09:15] lifesinger commented on #77
seajs 导致浏览器崩溃的原因：
1. 线上地址必须是 http://seajs.github.io/seajs/tests/runner.html  不能用 com 那个，否则插件相关的测试用例会失败。
2. 如果是线下测试，则除了 clone seajs 还需要 clone seajs/xxx 库，保证插件的测试用例也都能跑。
3. 沉鱼说的那个也是个问题，调慢会更稳健一些。

[2013-07-10 07:19] leoner opened #78 "socket 和 http(s) 代理性能分析"
从两个维度进行分析
### 请求方式
- 使用 socket 的方式,所有的数据都从这一个通道进行传输
- 使用 http 的方式,每个请求都建立一个连接
### socket 模块的选择

如果没有意外,还是倾向于用 socket.io
- https://github.com/LearnBoost/socket.io
- https://github.com/turn/json-over-tcp/
- https://github.com/Worlize/WebSocket-Node

[2013-07-10 07:27] leoner commented on #78
请求方式分析用例:
1. 客户端准备10个大文件
2. 服务器端分别通过 http 和 socket 的方式获取所有数据
3. 记录各自消耗的时间

[2013-07-11 03:46] leoner commented on #78
![b639f5201b0a14c650df9c2632d396d6](https://f.cloud.github.com/assets/546535/779524/5b468c68-e9dc-11e2-925c-6306e5290d95.png)

目前 http 的方式,完胜.
后续在看看 socket.io 是否有想关参数设置, 还有其他 socket 的方式.

[2013-07-11 15:11] leoner commented on #78
![32ff04f8335b1e5144bf67827a378c43](https://f.cloud.github.com/assets/546535/782464/10783e24-ea3c-11e2-8b1e-98961b5a8d69.png)

本地测试结果, tcp-over-json 和 socket.io 相差不是很多, 但是稍微好点呀.

[2013-07-11 15:15] leoner commented on #78
看来 socket 这种方式还是只适合小数据的传输, 比如聊天室啥的. 对于这种大数据的传输, 还是不太适合啊.

[2013-07-12 00:55] lepture commented on #78
@leoner 太不公平了，你要和 http 对比就要用 net 库呀。

[code]

[2013-07-12 03:19] fool2fish commented on #72
2013-07-11 周会讨论了下，package 暂时不加（实际上也不会有人设置 totoro-config.js）
那么测试完全依赖于服务端已有的浏览器类型进行自动分配，这是一个潜在的小风险点

[2013-07-12 03:19] #72 closed, assigned to nobody

[2013-07-12 03:19] #77 closed, assigned to nobody

[2013-07-12 05:28] leoner commented on #78
因为不是简单的传输数据, 需要对传输数据识别,分组啥的, 如果用 net 的话, 还是需要做好多处理, 所以首先用已有的模块来测试下. json-over-tcp 看来已经是很精简了. 下一步在看看是否还有优化的余地.

[2013-07-15 08:12] fool2fish commented on #64
参考之一：https://github.com/turn/json-over-tcp

[2013-07-16 03:13] leoner opened #79 "收集测试模块的 repo 信息"
分为两种情况:
1. 本地项目直接读取 package.json
2. runner 为 url 的话, 需要进行额外的处理
    - 探测到 package.json 读取相关信息
    - 如果没有探测到, 只要使用 runner 的 url

[2013-07-16 04:02] fool2fish commented on #79
完整的判断逻辑：
- 1 runner 是 dir
  - 1.1 查找 package.json
  - 1.2 查找 .git 的信息
  - 1.3 查找 .svn 的信息
- 2 runner 是 url
  - 2.2 查找 package.json 的信息
  - 2.3 指定 runner 的 url 为 repo（这里有点语义上的问题）

简单考虑，可以先只实现 1.1 和 2.3 两个

[2013-07-16 04:04] fool2fish opened #80 "adapter 必须和 runner 同为 url 或者 dir"
因为 runner 是必须 proxy 的，如果 runner 为 url，而 adapter 为 dir，那么这个代理就不好处理了，简单起见，统一两者类型

runner 不管是何种类型，adapter 都可以指定为内置关键字

[2013-07-16 04:06] #15 closed, assigned to leoner

[2013-07-16 08:02] fool2fish opened #81 "不指定 runner 时，支持识别命名为 index.html 的 runner"
如题

[2013-07-17 02:54] fool2fish commented on #79
server 端要跟着处理，作为 order 的属性放进去

[2013-07-17 07:16] #81 closed, assigned to nobody

[2013-07-18 11:39] #80 closed, assigned to nobody

[2013-07-22 06:46] fool2fish opened #82 "使用单独的 logger"
如题，totoro 和 totoro-server 的日志策略差异较大，不公用

[2013-07-22 08:00] #82 closed, assigned to nobody

[2013-07-29 02:52] #79 closed, assigned to leoner

[2013-07-29 02:58] #64 closed, assigned to nobody

[2013-07-29 02:58] fool2fish commented on #78
见：https://github.com/totorojs/totoro-server/commit/5046772b82ed51e2a5a6ee2f8d3342d95a432a6d

[2013-07-29 03:28] fool2fish opened #83 "删除 --client-host 和 --client-port 选项"
如题

[2013-07-30 02:03] noahlu opened #84 "无法运行example里的示例"
我之前的node版本是0.8.x，按照README文档安装并到example/simple里执行totoro命令是，无任何提示只是卡住不动。升级node到最新版后再运行即正常。

建议给node 低版本无法运行的情况下，加个提示。

[2013-07-30 07:55] #83 closed, assigned to nobody

[2013-08-01 06:53] fool2fish commented on #84
已在 readme 增加 node 版本要求

[2013-08-01 06:53] #84 closed, assigned to nobody

[2013-08-01 09:30] fool2fish opened #85 "重构 lib/config.js"
如题

[2013-08-01 11:21] #85 closed, assigned to nobody

[2013-08-01 15:26] leoner opened #86 "客户端 list 子命令外网无法访问"
list 是否直接通过 socket 来进行信息传输？ 毕竟这个内容不是很多。

[2013-08-02 00:51] fool2fish commented on #86
list 是客户端向服务端发的 http 请求啊，如果无法访问那是因为服务本身不对外开放吧？

[2013-08-02 01:21] leoner commented on #86
哦, 忘记了. 不知道为啥用 vpn 访问不了. 那应该不是这个原因. 可能还是网络的问题.

[2013-08-02 01:21] #86 closed, assigned to nobody

[2013-08-02 05:34] leoner opened #87 "totoro 是否支持类似与 karma 的方式, 快速进行本地测试"
主要是通过配置文件可以做到:
1. 自动启动本地服务
2. 挂载指定浏览器
3. 在本地运行测试
4. 返回测试结果
5. 关闭服务.

[2013-08-06 01:35] fool2fish opened #88 "移除测试结果中速度慢的测试用例的打印输出"
如题。

主要考虑到这个速度慢是测试框架设定的运行时间，并不是真正的性能测试的结果，本身参考性不是特别大，而且对于一些异步测试，或者比较大的测试，非常容易超时。

[2013-08-06 01:36] #88 closed, assigned to nobody

[2013-08-06 06:17] despairlin opened #89 "安装的时候出错了"
执行sudo npm install totoro -g的时候出现了“ Error: version not found: 0.1.3 : totoro-common/0.1.3”这个，请问是什么问题？

[2013-08-06 08:08] fool2fish commented on #89
totoro 和 totoro-server 都依赖 totoro-common 这个模块，最新的开发代码，totoro 依赖的是 还未发布的 totoro-common 0.1.3，所以如果现在直接从源码安装会找不到这个模块

建议：
1. 直接通过 npm 安装 totoro，上周刚发过 0.3.0 的新版本，已经是最新了
2. 如果非常想体验开发中的代码，请使用 `npm link` 来链接 totoro-common（这个操作有点繁琐，如不知道的话就不要用好了）

另：

非常感谢你的反馈，为了保证开发中的版本也随时可用，我会尽快完成 totoro-common 0.1.3 的测试，在下周五之前发布上线

[2013-08-06 08:09] #89 closed, assigned to nobody

[2013-08-13 07:47] afc163 opened #90 "firefox 升级到 23.0"

[2013-08-13 09:03] leoner commented on #90
已全部升级!

[2013-08-13 09:03] #90 closed, assigned to nobody

[2013-08-16 07:39] leoner opened #91 "测试用例如果是 gbk 编码导致 totoro 运行错误"
场景:
- spec 文件为 gbk 编码
- 然后中间包含 中文 `describe('工具函数', function() {`
- 浏览器为 ie9, safari

现象:
- 浏览器端会导致 socket disconnect. 然后会继续 connect
- 服务器会导致重复执行 labor, 进入死循环.

解决办法:
- 在 runner.html 中引入的 gbk 的文件一定要写上 `charset="gbk"`

需要后续跟踪:
- 为啥文件编码会导致 socket 断掉呢?
- 为啥会重复执行 labor? 因为感觉测试用例还是执行完毕的状态?

[2013-08-19 07:25] leoner opened #92 "测试覆盖率提示信息增加未覆盖到行的提示"
比如

[code]

那么表明你源代码中有些地方未覆盖到. 为了方便用户进一步有针对性的完善测试用例,我们可以对源代码中那些行没有覆盖到进行提示. 但是由于这个信息的获取是从浏览器执行测试的时候拿到的,如果完整显示会造成数据传输过大.  所以目前打算有条件的显示(只有覆盖率到达90%的时候并且`--verbose`)并且精简的信息:

[code]

现在有两个问题:
- 如何显示的更友好?
- 触发显示的条件?

大家有啥好的想法?

[2013-08-19 07:30] fool2fish commented on #92
1. 先确定大家是否需要这种详细的提醒
2. 在第一回答是肯定的前提下再关注如何显示的更友好啊，个人觉得最好运行一个保真的demo截图，光示范代码看不出来东西

这两个问题都解决的话，我觉得在一定的阈值前提下，--verbose 倒不一定必须

[2013-08-19 07:41] popomore commented on #92
可以通过 coverage 生成一个临时页面，然后提供链接。

arale 是通过 spm test 在本地生成一个 html，但只有 chrome，totoro 是按浏览器输出信息还是整合的信息。

[2013-08-19 09:36] leoner commented on #92
![snip20130819_1](https://f.cloud.github.com/assets/546535/985094/c5b3ec18-08b2-11e3-8a43-81836375401e.png)

[2013-08-19 09:36] leoner commented on #92
目前的效果图

[2013-08-19 09:49] afc163 commented on #92
提供覆盖率页面链接。

[2013-08-19 09:50] lepture commented on #92
https://github.com/lepture/coverage-render

![screen shot 2013-08-19 at 5 50 30 pm](https://f.cloud.github.com/assets/290496/985153/d395a478-08b4-11e3-87cc-90776d0f0efb.png)

[2013-08-20 01:50] leoner commented on #92
目前这个只是在终端提示方案! 主要目的还是用户可以简单直观的获取那些代码没有覆盖到, 可以有针对性的补充测试用例. 后续会有一个完善的覆盖率页面, 来显示代码行执行次数等完整的信息呀.

[2013-08-20 01:51] leoner commented on #92
https://coveralls.io/files/23315469
http://10.232.102.134:1984/alipay-js/request/coverage.html

@popomore  提供的两个参考页面.

[2013-08-23 13:06] lifesinger commented on #92
我觉得不用这么详细的信息，没有 95% 以上时，数值用黄色显示就好。

比如小于  80%  用红色
80 - 94% 用黄色
95% 以上用绿色

有颜色区分，就让人有追求了。

On Tue, Aug 20, 2013 at 9:51 AM, hui notifications@github.com wrote:

##

王保平 / 玉伯（射雕）
送人玫瑰手有余香

[2013-08-23 13:07] lifesinger commented on #92
终端保持简单

完善的覆盖率页面详细即可

2013/8/23 Frank Wang lifesinger@gmail.com

##

王保平 / 玉伯（射雕）
送人玫瑰手有余香

[2013-08-26 05:24] leoner commented on #92
这个需求的初衷只是想增加一种简单的方式, 可以让使用者快速的定位到未覆盖的行. 具体的详细页面后续会提供的.
目前折中了下显示方案:
- 服务器只会在 60% 的时候收集详细信息
- 客户端只会在 `--verbose` 的情况下才会输出此信息.

[2013-08-26 07:24] leoner opened #93 "ie10 在 iframe 中运行 runner，require 不到模块"
现象:
-  `var Popup = require('popup')` 返回 **null**

网络现象:
- 当 popup 的请求完成后, network 中不会处出现后续依赖模块的加载.

重现条件:
- ie10.0(第二次执行, 第一次没有产生缓存的时候, 没有问题.)
- iframe 环境
- web server 是 node 搭建的 ( **totoro, spm doc watch** 等)
- 代码必须一个 css require. 任意的都行, 不管存在不存在

[code]

使用 totoro 重现
- 在任意模块的源码中, 添加 `require('./a.css')` 然后使用客户端测试 ie10.0 就会出现错误.

[2013-08-26 07:33] leoner commented on #93
本地重现代码

# test.html

[code]

# sea.html

[code]

# test.js

[code]

[2013-08-26 08:00] leoner commented on #93
css 换成 `require.async` 也没有问题.

[2013-08-26 08:34] lifesinger commented on #92
这样的话，要不简单点吧：

[2013-08-26 08:49] leoner commented on #92
现在收集数据感觉应该对性能影响不大, 因为这个数据量不是很大.因为就是行号. 所以我现在是在 60% 的时候就去收集数据.

然后自动显示的这个标准很难确定, 项目大小的不同, 这个值的含义是不同的, 对于一个比较大的项目, 当到了 80% 的时候, 就很难定位那些没有覆盖到了.  所以通过 `--verbose` 主动控制覆盖率的显示的话, 用户可以灵活的去掌握呀.

[2013-08-26 09:31] lifesinger commented on #92
我还是倾向于这个方案：

客户端感觉真没必要啊，还得自己去数第几行，很不直观。

[2013-08-26 16:23] leoner commented on #93
https://github.com/leoner/test-ie10

[2013-08-27 01:27] lifesinger commented on #93
我构造了一个最简单的版本，没有发现问题呢

https://github.com/lifesinger/lifesinger.github.com/tree/master/lab/2013/ie10-iframe

用 express 在 ie10 下测试也 OK

康辉再仔细看看，有可能与 totorojs 有关。

[2013-08-27 13:17] leoner commented on #93
后续的解决方案转到 https://github.com/seajs/seajs/issues/917

[2013-08-28 08:25] lifesinger commented on #93
已解决。康辉确定下。

[2013-08-28 08:25] #93 closed, assigned to nobody

[2013-08-29 05:57] lifesinger opened #94 "是否提供一个接口，可输出 log 信息"
通过 totoro 测试时，有时想看看某些值在各个浏览器下输出结果，是否可以

在 spec 里写

[code]

然后在客户端就可以看到相关信息？

好处是，如果有这么一个方法，对调试会非常有利，可以减少不少开虚拟机的需求。

[2013-08-29 12:49] afc163 opened #95 "部分测试机的速度不正常的慢"
chrome 和 firefox 的跑用例的速度很慢，比 IE 还慢，导致用例超时(200ms)退出。

![](https://i.alipayobjects.com/e/201308/10Hjcm82eL.png)

[2013-08-30 02:39] leoner commented on #95
firefox 不知道为啥比 ie9,10,11 有时候都满. 昨天还发现一个测试把  firefox 搞死了. 其他浏览器都没有问题.  最近会在仔细排查下, 看看到底是哪里的问题.

[2013-08-30 08:24] leoner commented on #94
确实是, 我现在也是在专门调试某个问题的时候, 也是只能打开浏览器, 盯着控制台呀.
输出倒是应该能实现, 但是由于测试多个浏览器的时候, 需要看看如何吧这些信息输出:
- 实时?
- 在测试完成后, 输出到汇总那里?

[2013-08-30 08:25] popomore commented on #94
话说调试用网页呀，totoro 多慢。

[2013-08-30 08:48] lifesinger commented on #94
@leoner 在测试完成后，汇总输出就好。实时有点麻烦吧？

@popomore 单个测试用例时，totoro 很快的。如果有 totoro.log 方法，则不少时候，不用开虚拟机就可以调试了。比如今天周会我分享的那个 IE10 cache bug. 最后的调试办法就是不断打 console.log

[2013-08-30 08:53] leoner commented on #94
我们会努力提升速度的呀.

[2013-08-31 14:58] leoner opened #96 "是否可以通过参数来禁止代码覆盖率功能"
主要原因:
- 在代码开发过程中, 如果源码出现问题, 提示的代码行数发生变化.
- 如果主动在去还原, 相对比较复杂
- 如果实现 #94 在源码中的代码位置猜测也会不准确.
- 效率提升.

@fool2fish

[2013-08-31 15:54] leoner commented on #94
[code]

这样显示行? 如果到最后统一显示的话, 更加麻烦. 改动的地方比较多.
然后如果是 chrome 可以稍带把具体日志的行号给探测出来.

[2013-09-01 04:10] leoner opened #97 "客户端向服务器参数的传递"
[code]

如果需要添加一个新的参数, 目前需要在添加一个项, 我们是否可以:

[code]

直接把整个客户端的参数都传递上去, 服务器按需自取?
@fool2fish

[2013-09-01 06:11] #96 closed, assigned to nobody

[2013-09-01 06:28] leoner commented on #92
目前通过 --verbose 参数来控制信息的显示和收集.  如果用户添加`--verbose`那么就会去收集覆盖率相信信息, 并进行显示.

[2013-09-01 06:28] #92 closed, assigned to nobody

[2013-09-01 10:37] lifesinger commented on #94
挺好的，赞速度，明天公司试用下。

[2013-09-01 15:20] leoner commented on #94
这个正式的估计要等到下周才能发, 明天会把最新的功能发布到另外一台机器上. 好了通知你呀.

[2013-09-02 01:45] fool2fish commented on #94
暂不合并分支，放到 0.5.0

On Sep 1, 2013, at 11:20 PM, hui notifications@github.com wrote:

[2013-09-02 01:47] lifesinger commented on #94
放到 0.5.0 吧

0.4 保持之前的约定，不增加新功能。

On Mon, Sep 2, 2013 at 9:45 AM, fool2fish notifications@github.com wrote:

##

王保平 / 玉伯（射雕）
送人玫瑰手有余香

[2013-09-02 06:08] leoner commented on #94
好, 不过这个功能确实比较实用, 现在我在测试过程中, 如果某个浏览器有问题(特别是 ie) 就很麻烦.  如果有这个功能, 我可以很快的先定位到大概的问题. 否则现在只能登录到虚拟机中, 然后一点点调试.手动的 alert 啥的.一点点排查.

我个人建议这个功能相对比较特殊, 属于那种投入小, 产出多的功能. 而且这个已经实现了. 可以走个例外呀.
 并且这个功能起码可以在本周内省掉我一个小时以上的时间呀. 尤其是这两周大家都在 review alipay 的组件, ie 可能会有很多问题. 有了这个功能应该可以省去不少排查时间的.

[2013-09-02 06:51] leoner commented on #94
[code]

尤其看到这种错误呀.

[2013-09-02 06:54] lifesinger commented on #94
嗯，这是很实用的功能。

On Mon, Sep 2, 2013 at 2:51 PM, hui notifications@github.com wrote:

##

王保平 / 玉伯（射雕）
送人玫瑰手有余香

[2013-09-03 11:50] fool2fish commented on #94
@lifesinger @leoner 突然想起来，我的代码出错的时候，我一般用 expect(我想看的值).to.be('not equivalent value') 来测试，然后等报错，看多个值也 ok

[2013-09-03 12:12] lifesinger commented on #94
expect 是测试代码里的 log 信息

totoro.log 是全局任何代码里都可以输出 log 信息

On Tue, Sep 3, 2013 at 7:50 PM, fool2fish notifications@github.com wrote:

##

王保平 / 玉伯（射雕）
送人玫瑰手有余香

[2013-09-22 08:51] fool2fish commented on #97
[code]

[2013-09-22 09:06] leoner commented on #87
这种功能还是交给 karma 来完成.

[2013-09-22 09:06] #87 closed, assigned to nobody

[2013-09-23 03:27] #97 closed, assigned to nobody

[2013-09-23 03:29] fool2fish commented on #69
目前退出码仅有 0 1 两种，对具体的错误类型不做区分

[2013-09-23 03:32] #69 closed, assigned to nobody

[2013-09-23 05:14] leoner commented on #91
现在的解决办法就是在 runner.html 中添加

[code]

但是问题是这个工作是不是需要totoro 来解决?

[2013-09-25 04:12] leoner commented on #94
![snip20130925_1](https://f.cloud.github.com/assets/546535/1205998/985ca5b8-2598-11e3-88b7-3d1c6320803d.png)
最新的显示格式.

[2013-09-25 08:07] leoner opened #98 "浏览器设置弹窗汇总"
转移至：https://github.com/totorojs/totoro-server/wiki/Popup-Settings.zh

[2013-09-26 01:47] #98 closed, assigned to nobody

[2013-09-26 02:00] leoner opened #99 "当浏览器超时时,提醒更加友好."
目前超时的提醒不够友好.
![5b89744ecc4435a67f8761d6b5fe5cdf](https://f.cloud.github.com/assets/546535/1214912/6b892888-264f-11e3-98c4-1f19837395fd.png)

[2013-09-26 05:10] leoner commented on #99
现在一个主要问题就是如果我测试多个浏览器, 只有一个超时的话, 现在不知道是那个超时. 只能一个个排查.

[2013-09-26 05:42] fool2fish commented on #99
这个把timeout参数传到服务端，让服务端来控制超时就好了

[2013-09-26 07:20] #99 closed, assigned to nobody

[2013-09-26 09:54] fool2fish opened #100 "清理 examples"
1. gbk 无法重现的话删除
2. custom-adapter 由于由于 seajs 的代码调整和 totoro 的 report 方法变成 totoro.report 方法，需要调整
3. timeout 代码进行简化，同时添加 how-to.md，说明如何使用，使用英文

[2013-09-30 02:37] fool2fish opened #101 "totoro.log or console.log"
![screen shot 2013-09-27 at 3 16 44 pm](https://f.cloud.github.com/assets/340282/1224270/cb359b86-2744-11e3-95cd-2b100841e5b3.png)

totoro 可以输出调试信息，两种接口如何选择？

totoro.log 使用时意思更明确。但是如果使用 totoro.log 本地打开 runner 的时候，会报错，要重新替换成 console.log 才能调试。

console.log 减少了额外的 api 学习成本。有可能被重置。只有 .log 方法，没有其他 .time 方法之类的，会不会有点怪。

[2013-09-30 02:41] #94 closed, assigned to nobody

[2013-09-30 06:48] fool2fish commented on #101
socket.io 有两个小 bug， 传输后的数据, undefined 和 NaN 都变成了 null。问题不大，备忘一下。

[2013-09-30 06:48] fool2fish commented on #101
结论：先使用 console.log，观察一段时间，如无问题就使用这个。

[2013-09-30 06:48] #101 closed, assigned to nobody

[2013-10-09 08:20] leoner opened #102 "浏览器通过新开窗口的方式的内存占用情况"

[2013-10-09 08:22] #102 closed, assigned to nobody

[2013-10-16 01:29] minghe opened #103 "有开发对应grunt插件的计划吗？"

[2013-10-16 01:49] leoner commented on #103
暂时还没有,如果你有兴趣的话, 也可以帮忙提供一个呀.

[2013-10-16 03:29] minghe commented on #103
好，我先理下，看有没有必要，有必要的话，我再提issue，开搞个。thx~

[2013-10-16 03:29] #103 closed, assigned to nobody

[2013-10-16 07:35] leoner opened #105 "基于 kissy 的用例运行结果在IE6,7中会出现kissy 加载文件的日志"
就是基于 kissy 的测试用例, 可能会在 IE6,7 下面出现类似的 `load remote module` 这些信息.

[code]

这个出现的主要原因是由于在 kissy 在 log 处理中

[code]

由于在 ie6,7 不存在 console.info 那么 `console[cat && console[cat] ? cat : 'log'](msg);` 这个地方就会降级成 console.log. 而我们 totoro 会注入 **console.log** 的实现,里面会把 **console.log** 的信息作为用户主动的调试信息给输出到返回结果中的. 所以由此现象.

[2013-10-16 13:15] minghe commented on #105
我以为是故意打印出model path。没关系，这样也挺好...

[2013-10-18 03:55] leoner opened #106 "repo 不支持自定义"
[code]

目前不支持在通过 api 方式调用的时候传递 repo 参数.
原因是因为在 totoro 中强制通过 getRepo 的方式获取 repo.

[2013-10-30 10:23] #105 closed, assigned to nobody

[2013-10-30 10:24] leoner commented on #95
目前使用新开窗的方式后暂时没有发现类似问题。 等到后续发现问题再打开。

[2013-10-30 10:24] #95 closed, assigned to nobody

[2013-11-01 11:42] hotoo opened #107 "需求：多 runner 的支持"
详细参考 https://github.com/aralejs/nico-arale/issues/24

[2013-11-07 06:45] leoner opened #108 "有同学反馈我们计算的和karma算的代码服覆盖率结果差异有点大"
Karma 的可能会更准确些。需要进一步排查下。

[2013-11-07 08:47] leoner commented on #108
karma 的 coverage 的插件只在特定版本上可以使用， karma 更新到最新版本后，这个插件无法使用， 暂时先不处理了。

[2013-11-07 08:47] #108 closed, assigned to nobody

[2013-11-13 02:41] wiz-Cll opened #109 "开启coverage的命令和配置是```?"
那么开启覆盖率检查的配置是什么?  --skip-coverage=false  或  on  或 close都试过了,无效.

[2013-11-13 02:45] fool2fish commented on #109
你是想看到覆盖率百分比还是说哪些行覆盖到了，哪些没覆盖？

看百分比结果的话，默认就是有覆盖率的，每个浏览器完成后后面跟的 (coverage 100%) 字样就是覆盖率
--skip-coverage 这个选项开启，就没有这个覆盖率输出了
因为是自动处理的，所以如果代码写得比较奇怪，可能没有办法自动做这个事情

如果想看到具体哪些没有覆盖到，目前这个功能在内测，还没有正式开放给用户用

On Nov 13, 2013, at 10:41 AM, wiz-Cll notifications@github.com wrote:

[2013-11-13 02:53] wiz-Cll commented on #109
直接在example/jasmine中运行totoro命令
看不到覆盖率...
........

  chrome 30.0.1599.101 / macosx 10.9.0
  Passed all of 6 tests in 48ms

没有百分比的coverage...

[2013-11-13 03:26] wiz-Cll opened #110 "totoro支持fixture吗?"
需要测试一些函数对html的操作, 使用jasmine的fixture插件jasmine-jquery, 在每个it前载入一个测试的html页面,然后进行选择或类名操作等的测试,但是无论是看--verbose输出的测试细节还是抓住一点点时间看弹窗中的network, 都没有载入相应的fixture页面啊...
labor连接server后执行测试时弹出的页面不能进行这样的操作吗?

代码如下:

[code]

执行的结果报的错误是完全选择不到节点, 明显是fixture没有load进来...

[2013-11-15 02:44] fool2fish commented on #109
你仔细看下那个例子，是没有源码的哦，就是没有 src 文件，jasmine 的例子纯粹只是演示 jasmine 也是可以用的

只有你的项目中有 src 或者 lib 文件夹时，里面的代码才会被认为是源码，totoro 会计算测试覆盖率

[2013-11-15 02:58] fool2fish commented on #110
1. 默认必须确保所有相对引用的资源在一个项目目录下（因为本地会起一个 http 服务，如果超出当前目录，就请求不到了），比如你那个 `loadStyleFixtures('../../../fixture/style.css')` 应该就不是在本项目目录下的，那么就需要设置 `totoro` 的 `--client-root` 为你所有资源的最小根目录。
2. 我不是很熟悉 fixture，但是看代码，应该是异步操作？如果是异步的话，这样写会有问题，具体可以参考下 jasmine 的 Asynchronous Support 部分。

[2013-11-18 09:46] leoner opened #111 "实现 --file, --code"
增加 totoro --code='typeof document.body/file.js' 。具体讨论见 alipay/wd-tech-team#840 。

目前不支持简写的形式。

[2013-11-20 08:16] wiz-Cll commented on #109
哦... got it~  谢谢~

[2013-11-20 08:16] #109 closed, assigned to nobody

[2013-12-04 02:37] #110 closed, assigned to nobody

[2013-12-04 02:37] #107 closed, assigned to nobody

[2013-12-04 02:38] fool2fish commented on #106
为什么要支持自定义？

[2013-12-04 02:57] leoner commented on #106
[code]

如果以这种形式执行的话，repo 的内容是有问题的，所以对于这种方式可以给一个特殊的标示进行区分。

[2014-01-23 08:03] fool2fish opened #113 "改进 findRunnerRoot 功能"
@from 剑平

[2014-01-23 08:04] fool2fish opened #114 "完善 --client-root 文档"
@from 剑平

需提供一些例子

[2014-02-09 02:38] meetwudi opened #115 "建议实现watch"
在文件变动的时候重新启动测试

[2014-02-09 03:32] hotoo commented on #115
我觉得没必要。push 的时候测试就够了，最多到 commit。

[2014-02-09 04:05] lepture commented on #115
@tjwudi 同意 @hotoo

另外，如果你真有这个需求，可以使用：https://github.com/lepture/rewatch

[2014-02-10 08:11] fool2fish commented on #115
totoro 只会关注其核心功能的实现，其他功能可以自己组装来使用哦，ps，因为 totoro 是解决测试兼容性问题的，所以每次运行测试消耗比较大（意味着一个测试可能需要几秒甚至更长时间来完成测试），频繁存档存档可能会导致totoro同时运行好几个你在编写的测试代码，这样也比较晕吧：）

watch 功能可以试试看 @lepture 的推荐咯

[2014-02-10 08:11] #115 closed, assigned to nobody

[2014-02-17 01:47] fengmk2 opened #116 "npm install 速度那个慢。。。"
建议文档加上 npm install --registry=http://r.cnpmjs.org

[2014-02-17 01:51] fengmk2 opened #117 "code coverage result missing"
看文档是默认开启coverage的，但是我本地测试一下没成功。

![image](https://f.cloud.github.com/assets/156269/2182002/e155ec94-9775-11e3-87de-aff616aec921.png)

[2014-02-17 02:45] hotoo commented on #116
这个应该是用户 npm config 的事。

[2014-02-17 02:48] fool2fish commented on #117
覆盖率确实是默认开启，但是能得出覆盖率数据需要满足两条件： 1、要有源码文件 2、totoro 可以正确找出源码。

你跑得是 totoro 的例子，打开下这个文件夹，你看看是没有源码的哦，就是没有 src 文件夹，只有测试文件，所以就没有测试覆盖率了。

你可以随便测一个有源码的测试用例，比如 `totoro --runner=http://aralejs.org/base/tests/runner.html` 来测

[2014-02-17 02:50] fengmk2 commented on #116
很多用户不知道，算是给他们一个tips
2014年2月17日 AM10:45于 "闲耘™" notifications@github.com写道：

[2014-02-17 02:51] fool2fish commented on #116
没有问题，可以加个提示，让国内用户使用你们得镜像：）

[2014-02-17 02:51] fengmk2 commented on #117
好吧，因为我是按readme来跑的，看readme截图有结果，就这么想了。
2014年2月17日 AM10:48于 "Zhouxuan Yang" notifications@github.com写道：

[2014-02-17 02:53] fool2fish commented on #117
多谢提醒，readme 写错了，应该是跑 simple 那个例子的，那个有源码。我改一下文档再关这个 issue。

[2014-02-17 02:55] fengmk2 commented on #117
好的，给力！
2014年2月17日 AM10:53于 "Zhouxuan Yang" notifications@github.com写道：

[2014-02-17 02:56] fengmk2 commented on #116
哈哈，多谢，争取让它变成我们的镜像
2014年2月17日 AM10:51于 "Zhouxuan Yang" notifications@github.com写道：

[2014-02-20 06:09] fool2fish commented on #106
运行类型可以通过已有数据分析得出，在 tla 中，每条记录有一个 __statsCode 字段，0 为 --code， > 0 为单元测试（1 为测试成功，>=2 为各种类型的失败），<0 预留给功能测试了

[2014-02-20 06:09] #106 closed, assigned to nobody

[2014-02-20 06:34] #91 closed, assigned to nobody

[2014-02-20 06:34] fool2fish commented on #91
添加服务端执行限制，如果一个指定浏览器执行超过 n 次不能正常完成，就停止在该类浏览器中测试，并报错。

[2014-02-20 06:46] #117 closed, assigned to nobody

[2014-02-20 07:00] #116 closed, assigned to nobody

[2014-02-20 08:55] #114 closed, assigned to nobody

[2014-02-20 09:31] fool2fish commented on #111
complete

[2014-02-20 09:31] #111 closed, assigned to nobody

[2014-02-20 10:34] #100 closed, assigned to leoner

[2014-02-24 09:42] fool2fish opened #118 "修改 --server-host 和 --server-port 选项为 --host 和 --port"
自从无需配置客户端自己的 server 以后，可以简化配置项

[2014-02-24 11:06] fool2fish commented on #118
@11e386f

[2014-02-24 11:06] #118 closed, assigned to nobody

[2014-02-25 02:04] #113 closed, assigned to nobody

[2014-03-03 02:42] fengmk2 opened #121 ""An unknown error occurred" 没有详细信息？"
在尝试将 eventproxy 接入到 totoro 跑单元测试，但是发现在IE下出现错误，但是没有详细信息。

[code]

[2014-03-03 02:46] fool2fish commented on #121
晕，已给隐藏的好深的小bug，马上修复下。不过看到这个确实是抛错了，我把抛错信息显示出来。

[2014-03-03 02:48] fengmk2 commented on #121
哈哈，我是bug达人。

[2014-03-03 03:01] fengmk2 commented on #121
又发现一个bug, ie7, ie8根本没有跑

[code]

[2014-03-03 06:50] fool2fish opened #122 "totoro config 增加配置成功反馈"
如题

@RubyLouvre

[2014-03-03 07:25] #121 closed, assigned to nobody

[2014-03-03 07:57] fool2fish commented on #122
@665cf5ea66b9279d26919a3dca51f8b4238cecf1

[2014-03-03 07:57] #122 closed, assigned to nobody

[2014-03-04 03:59] fool2fish opened #123 "增加 --no-catch 选项，不主动捕获 error"
需求来源：

KISSY 的某些模块就是要主动抛出错误给用户的，所以也没有在测试脚本中使用 try catch 捕获。但这是一个少数场景的需求，所以默认开始，使用该选项关闭。

@yiminghe

[2014-03-04 08:45] #123 closed, assigned to nobody

[2014-03-06 07:17] fool2fish opened #124 "--runner=/path/of/local/file?query#hash 时，报找不到文件错误"
[code]
### 原因

handle-cfg.js 的 findRunnerRoot() 没有过滤 runner 后跟的 querystring 和 hash，导致打开文件时错误

[2014-03-06 07:19] #124 closed, assigned to nobody

[2014-03-11 07:51] RubyLouvre opened #125 "如何配置过时时间"
报了这样一个BUG

[code]

[2014-03-11 08:19] fool2fish commented on #125
这个跟你的测试框架有关系，在不同浏览器里速度不一样，慢得可能会超时，找下你测试框架的选项。
ps：如果总体超过5分钟，totoro 会超时，这是会显示 Client timeout。这种情况这是 --timeout 就好了。

[2014-03-11 08:19] #125 closed, assigned to nobody

[2014-03-17 04:14] RubyLouvre opened #126 "JS如何模拟选择 下拉框 的一个option元素呢？"
如果是模拟点击一个元素,很简单,直接el.click()  求指教~

[2014-03-17 04:17] fool2fish commented on #126
jquery,arale,kissy 都有这种功能的，这个是 arale 体系下看下就知道了，https://github.com/totorojs/event-simulate

[2014-03-17 07:47] RubyLouvre commented on #126
thanks !我去看看

[2014-03-17 07:47] #126 closed, assigned to nobody

[2014-03-17 14:27] lifesinger commented on #126
司徒，QCon 你们公司有啥议题想分享分享不?

On Mon, Mar 17, 2014 at 3:47 PM, 司徒正美 notifications@github.com wrote:

##

王保平 / 玉伯（射雕）
送人玫瑰手有余香

[2014-03-18 02:12] nikogu opened #127 "runner不能指定.php么=。-"
totoro -R runner.php ？

[2014-03-18 02:27] fool2fish commented on #127
呃……php 的话要自己起服务啊（不然不是还要支持 .vm, .jsp 什么的啊），runner 支持 url 的

[2014-03-18 03:36] #127 closed, assigned to nobody

[2014-03-21 06:39] fool2fish opened #128 "logger.error 时，不要 process.exit(1)，而应该 throw new Error()"
如题

[2014-04-01 02:36] RubyLouvre opened #129 "如何使用totoro-config.json啊(主要是想让它自动打开浏览器)?"
我有一个测试项目,文件名为avalon.test,下面就是src与tests文件夹,
然后我看你们的例子在avalon.test的目录下再加上totoro-config.json

[code]

然后全局安装你那三个家伙

[code]

然后打开控制台 totoro-server

然后打开另一个控制台 定位到avalon.test目录下
然后totoro config 没有自动打开浏览器啊!!!!!!!!

[2014-04-02 02:56] leoner commented on #129
浏览器目前不会自动打开，需要通过 browsers 进行打开。
browsers 是负责浏览器守护的。

[2014-04-03 05:33] RubyLouvre commented on #129
我就是想让 browsers 打开

[2014-04-03 05:38] RubyLouvre commented on #129
$ browsers --capture=totorojs.org 能直接 $ browsers --capture=192.168.123.56吗 但我还是想让它集成totoro-config.json 中

[2014-04-03 05:38] RubyLouvre commented on #129
像karma就比较智能了，不像totor分得很碎，不能自动化

[2014-04-04 02:38] fool2fish commented on #129
karma 是单机系统，不是分布式的啊，ms不能这么比吧。你想看，即使可以这么做，也不可能配置这么少就能解决问题的（因为你不能在一个系统上打开所有的浏览器），totoro 的设计遵循小而独立的理念。不过你的需求么也合理的，所以下一个版本可能会改进。先这么用着好了：）我们自己也是这样，browsers 守护的机器基本不太需要关注的。ps：server 和 browsers 可以用 pm2 守护。

[2014-04-21 03:33] sodawy opened #130 "请问如何用totoro测试线上功能？"
例子都是测试本地静态资源。请问能不能测试指定线上业务？

1、能打开线上url页面，比如hotel.qunar.com
2、对打开的页面，能把测试case注入到页面js沙箱。可以让case操作页面dom，事件等。
3、对打开的页面，有没有捕获js异常的事件？

多谢！

[2014-04-21 03:36] fool2fish commented on #130
1. 能打开线上 url `totoro -R url`
2. 测试脚本注入的事情需要用户自己实现，totoro 只管运行
3. 有捕获 js 异常，看 example/syntax-error 的例子

On Apr 21, 2014, at 11:33, soda-wy notifications@github.com wrote:

[2014-04-23 06:44] atian25 opened #131 "REAME中的npm install totoro应该加上-g"

[2014-04-25 09:41] sodawy commented on #130
感谢回复！

[2014-04-25 09:41] #130 closed, assigned to nobody

[2014-04-25 12:41] #129 closed, assigned to nobody

[2014-04-25 12:42] #131 closed, assigned to nobody

[2014-04-29 02:25] jserme opened #132 "内部gitlab-ci上安装totoro运行后出错，可能和系统有关"
buffer.js:434
      throw new Error('Unknown encoding');
            ^
Error: Unknown encoding
    at Buffer.toString (buffer.js:434:13)
    at Object.fs.readFileSync (fs.js:236:33)
    at findRunnerRoot (/home/admin/gitlab-ci-runner/tmp/builds/project-47/node_modules/totoro/lib/handle-cfg.js:113:22)
    at handleClientRoot (/home/admin/gitlab-ci-runner/tmp/builds/project-47/node_modules/totoro/li

[2014-04-29 02:59] jserme commented on #132
知道原因了，gitlab-ci上每一条命令执行的时候都会重新加载环境变量

在运行totoro的时候用nvm指定使用的node版本就行了

[code]

[2014-04-29 02:59] #132 closed, assigned to nobody

[2014-05-26 09:23] sodawy opened #133 "v1.0.0 totoro list 报[undefined/NaN]"
如
ie 6.0 / windows XP [undefined/NaN]

[2014-05-27 01:27] fool2fish commented on #133
呃，是需要更新版本了，是预发了 1.0 版本（机器有限，不得不停掉之前的版本），但是没有通知到大家，这周正式发布后会发邮件公告……

[2014-05-27 01:27] #133 closed, assigned to nobody

[2014-05-27 09:25] #128 closed, assigned to nobody

[2014-05-30 03:03] chenboxiang opened #134 "使用上的疑问"
我的操作顺序：
### 启动totoro server

[code]

输出日志如下：

[code]
### 启动totoro driver

[code]
### 到totora/examples/simple目录下，执行test

[code]

输出日志如下：

[code]

totora driver的日志如下：

[code]

chrome浏览器我手动注册过，只有它成功了，其他浏览器全部超时。
按我的理解totora driver的作用是自动帮我打开浏览器进行测试，不知道是我用的方式错了，还是有bug？

[2014-05-30 03:08] fool2fish commented on #134
你的 totoro，totoro-server 和 totoro-driver 分别是什么版本？确认下有更新到最新版本啊

看起来像是 server 或 driver 没有更新到最新版本

[2014-05-30 03:12] chenboxiang commented on #134
我刚装的。。

[code]

[code]

[code]

[2014-05-30 03:18] fool2fish commented on #134
server 更新到 1.0.1 应该就好了

[2014-05-30 03:19] fool2fish commented on #134
不好意思，官网的版本信息还没同步更新，今天会更新上去

[2014-05-30 03:20] chenboxiang commented on #134
好的，我晚上再试下

[2014-05-31 03:43] fengmk2 opened #135 "Can not guess which adapter should be used, please choose one of "jasmine,mocha" or apply your own adapter."
Test env: http://ci.cnpmjs.org:9999/

[code]

[2014-05-31 03:46] fengmk2 commented on #135
http://ci.cnpmjs.org:9999/

[2014-06-03 01:39] chenboxiang commented on #134
用npm安装一直报`Error: shasum check failed`，用cnpm安装一直是1.0.0版本，然后我去cnpm搜索了下，只有totoro-server这个包没有，[搜索结果](http://cnpmjs.org/browse/keyword/totoro)。这个是因为totoro-server发布的有问题么？

[2014-06-03 03:38] fool2fish commented on #134
你先尝试下从源码安装呀，readme 有讲怎么从源码安装。发布的时候忘记设置 ignore，文件太大导致这个错误，稍后重新发布下。

[2014-06-03 04:02] fool2fish commented on #134
问题已解决，可以从 npm 上安装 v1.0.2

谢谢反馈！

[2014-06-03 04:02] #134 closed, assigned to nobody

[2014-06-03 04:25] fool2fish opened #136 "node v0.11.x 发布后，socket.io 相关版本应更换为 v1.x"
包括 socket.io-client

和目前使用的 v0.9.x 不兼容

[2014-06-03 04:27] fool2fish commented on #135
当前依赖的 socket.io 和不兼容 node v0.11.x，node 正式发布后再更新 socket.io 的依赖。见 #136

[2014-06-03 04:27] #135 closed, assigned to nobody

[2014-06-03 05:41] chenboxiang commented on #134
OK，安装没问题了。totoro driver的问题也OK了。赞！

[2014-06-03 05:55] chenboxiang opened #137 "日志里能否增加上时间"
现在totoro和totoro driver的日志信息是这样的

[code]

都没有时间，而totoro server的日志就有时间

[code]

能否都跟totoro server一样，加上时间？这样能清楚的看到时序
，理解整个工作流。

[2014-06-03 06:46] fool2fish commented on #137
设计的时候，除了 server 有时间外，其他模块都是没时间的，因为其他模块都只处理自己的问题，日志打印的顺序就是按时序来打印的啊

[2014-06-03 07:06] chenboxiang commented on #137
嗯，关闭这个问题吧。我本来是想看执行1次totoro命令，totoro几个不同角色之间的时序日志，现在不用了，我已经明白了整个工作流程。
我没太明白你说的这句

是说其他模块打印时间没有意义么

[2014-06-03 07:11] fool2fish commented on #137
大体是这个意思啦：）

[2014-06-03 07:11] #137 closed, assigned to nobody

[2014-07-30 07:38] fool2fish opened #140 "totoro --code 参数值的一致性"
[code]

当传入文件路径时，需要自己写 `console.log` 语句才能打印出想查看的值，但是传入代码片段时，则整个片段当表达式处理。这样设计的原因是不希望使用者写 `totoro --code "console.log(xxx)"` 这么麻烦，但损失了一致性，且不可打印多个值。

ps：由于传入文件路径可能是完整路径之类的，为确保正确，需要求一次相对路径

[2014-08-03 11:03] cyjake commented on #79
这个收集了是做什么用的？

[2014-10-14 02:43] fool2fish commented on #140
同时支持  `totoro --code document.body` 和 `totoro --code "console.log(document.body)"`

[2014-10-14 02:43] #140 closed, assigned to nobody

[2014-10-14 04:40] afc163 commented on #140
没有修改？

[2014-10-14 05:58] fool2fish commented on #140
改了啊，新版本，还在分支中，近期发布

[2014-10-14 06:57] afc163 commented on #140
木有关联 commit 。

[2014-10-14 08:39] fool2fish commented on #140
大改动里顺手改得，提交的时候没关联，不过分支也确实不显示关联，有也要合并到主干才显示

[2014-10-15 02:22] alancd opened #141 "Error 'Unknown encoding'"
[code]

[2014-10-30 07:09] wf123537200 opened #142 "启动server报错"
![issus](https://cloud.githubusercontent.com/assets/5130528/4839633/4362779e-6003-11e4-8102-8b2f96ff08ac.png)
window7, 64bit，执行npm install -g totoro-server后，执行totoro-server报如上图错误，查看错误代码后发现只要将此错误消除，就可以执行成功，以下是ansi.js中修改后的代码
function is256ColorSupported() {
  if (!isColorSupported()) return false;

  var term = process.env.TERM || ‘256’;// 在这里增加256代码
  term = term.toLowerCase();
  return term.indexO

[2014-10-30 08:44] fool2fish commented on #142
这个问题被反馈多次，升级 colorful 依赖即可修复。我们马上要发布 2.0 版本，要不考虑从源码分支安装 totoro-server 和 totoro?

[2014-10-30 08:46] wf123537200 commented on #142
开发版现在稳定可用吧，之前担心开发版不稳定，所以没有使用。

那我改用源码分支了哈~

发件人: Zhouxuan Yang [mailto:notifications@github.com]
发送时间: 2014年10月30日 16:44
收件人: totorojs/totoro
抄送: loveSed
主题: Re: [totoro] 启动server报错 (#142)

这个问题被反馈多次，升级 colorful 依赖即可修复。我们马上要发布 2.0 版本，要不考虑从源码分支安装 totoro-server 和 totoro?

—
Reply to this email directly or view it on GitHub https://github.com/totorojs/totoro/issues/142#issuecomment-61060140 .  https:

[2014-10-30 08:47] wf123537200 commented on #142
对了，或者直接从源码copy新的colorful来进行覆盖应该也素可以的吧~~？

发件人: Zhouxuan Yang [mailto:notifications@github.com]
发送时间: 2014年10月30日 16:44
收件人: totorojs/totoro
抄送: loveSed
主题: Re: [totoro] 启动server报错 (#142)

这个问题被反馈多次，升级 colorful 依赖即可修复。我们马上要发布 2.0 版本，要不考虑从源码分支安装 totoro-server 和 totoro?

—
Reply to this email directly or view it on GitHub https://github.com/totorojs/totoro/issues/142#issuecomment-61060140 .  https://

[2014-10-30 09:23] fool2fish commented on #142
分支已内测多日，即将发布，应该不会有大问题。当然，你直接在老版本上手工安装更高版本的 colorful 依赖也可以哦：）

[2014-10-31 09:15] alancd opened #143 "Timeout"
[code]

[code]

[code]

[2014-10-31 09:16] alancd commented on #141
runs ok after upgrade nodejs and packages

[2014-10-31 09:16] #141 closed, assigned to nobody

[2014-10-31 09:20] fool2fish commented on #143
may I have a look at your code? avalon.test

[2014-10-31 09:45] alancd commented on #143
I clone from https://github.com/RubyLouvre/avalon.test

[2014-10-31 10:01] fool2fish commented on #143
我这用新老版本运行都好的呀，测试不过的几个浏览器确实是有问题的，但没有超时的。你的 totoro 是哪个版本？

![screen shot 2014-10-31 at 17 59 14](https://cloud.githubusercontent.com/assets/340282/4858932/aaa8539c-60e4-11e4-811e-33dbd7806a10.png)

![screen shot 2014-10-31 at 17 59 25](https://cloud.githubusercontent.com/assets/340282/4858933/ae9057ac-60e4-11e4-92c6-58d27367509f.png)

[2014-10-31 10:08] alancd commented on #143
多谢。mac os x 下是否有特别注意事项？

[code]

[2014-11-03 02:37] fool2fish commented on #143
没特别注意事项，不过如果你通过 http://localhost:9999 的方式手工挂载浏览器，而不是用 totoro-driver 去自动驱动浏览器的话，你需要手工设置下允许弹出窗口，估计你就是这个问题所以超时了吧？

[2014-11-04 05:14] fengmk2 opened #144 "TypeError: Cannot read property 'forEach' of undefined"
[code]

[2014-11-05 08:03] #142 closed, assigned to nobody

[2014-11-05 08:03] #143 closed, assigned to nobody

[2014-11-05 08:07] #144 closed, assigned to fengmk2

[2014-11-05 15:08] wf123537200 opened #146 "server成功启动后执行测试报服务器错误"
步骤，打开两个cmd，其中一个启动成功，如图
![1](https://cloud.githubusercontent.com/assets/5130528/4919797/3f5e7a54-64fd-11e4-8b1e-55f60d2e8b5d.png)
但是执行案例时报错，Git抽了图传不上来，把错误堆栈贴出来了。
E:\workspace\bae\bae\web\ReaderBooks>totoro
info C:\Users\Administrator\AppData\Roaming\npm\node_modules\totoro\lib\handle-c
fg.js:203 | Found runner < E:\workspace\bae\bae\web\ReaderBooks\test\runner.html

C:\Users\Administrator\AppData\R

[2014-11-06 02:56] wf123537200 commented on #146
重新安装后解决了报错，不过出现了，启动正常，但是执行test时卡在下面一行不动的情况
![image](https://cloud.githubusercontent.com/assets/5130528/4930204/7dcb6b40-6560-11e4-924d-d18921e4c78e.png)

[2014-11-06 03:11] #136 closed, assigned to nobody

[2014-12-19 09:58] fool2fish opened #147 "对于没有设置 proxy，由 totoro 自动将 proxy 设为 false 时，需要给出提示"
如题

[2014-12-25 07:36] #147 closed, assigned to nobody

[2015-01-27 11:52] afc163 opened #149 "totoro 服务是否可以作为 selenium 服务来用"

[2015-02-25 03:49] atian25 opened #150 "totorojs和karma的定位以及区别?"

[2015-02-25 03:49] atian25 opened #151 "http://totorojs.org/ 域名过期"
![image](https://cloud.githubusercontent.com/assets/227713/6364646/5f79ffae-bce4-11e4-9baf-a61e74870d0b.png)

[2015-02-27 02:27] fool2fish commented on #151
果然，谢谢提醒

[2015-02-27 02:32] fool2fish commented on #150
一般来说，测试分为两部分：1. 测试框架 2. 测试工具

totorojs 是一个单纯的分布式自动化测试工具，你可以使用任意测试框架来编写测试（totorojs 对你选用 什么测试框架没有任何约束），并且将这些测试发送到目标机器上指定特定的浏览器进行测试

karma 则对测试框架有一定的约束，如果你看过 karma 的官方文档，就会知道如果要用 karma 进行测试，必须要遵循 karma 的一些约定来些测试代码，karma 也是一个测试工具，但不是分布式的，而是单机模式，自动调用你电脑上安装的浏览器来进行测试

所以两者各有侧重，你可以根据自己的需要选择使用什么工具来测试，如果你的代码要兼容所有的主流浏览器，那么 totorojs 刚好能胜任这个工作，如果你的测试代码可以无成本遵循 karma 的编写规范，同时又只兼容你电脑上有的浏览器，那么 karma 就更轻巧

[2015-02-27 12:54] atian25 commented on #150
3x, 还有几个问题请教：
1. `totoro` 本地如何debug？ 能否类似`karma`那样可以用chrome dev tool 断点？
2. `browsers`在win8上无法打开chrome了。

[2015-03-02 02:32] #151 closed, assigned to nobody

[2015-03-02 02:37] fool2fish commented on #150
1. 本地 debug 的话，你用浏览器直接打开你的测试页面就可以了啊，爱怎么调试怎么调试
2. browsers 打开浏览器的原理参考了 karma 的，所以要打不开就都打不开，主要这个功能有很强的平台限制性（当然，后面如果 karma 针对这个功能升级了也不一定，有段时间没关注 karma 了，呃）

[2015-03-02 04:00] atian25 commented on #150
第2个问题, 参见: https://github.com/totorojs/browsers/issues/48

本机karma是可以打开的, 怀疑是browsers的路径哪里出错

[2015-03-30 07:15] valaxy commented on #146
~~windows吧, 我也卡这了, 我安装的时候报了一大堆错, 估计跟那个有关~~

可以试一下totoro-server启动的时候用 `totoro-server --host 127.0.0.1` 还是连127靠谱

[2015-04-16 07:30] valaxy commented on #150
恐怕karma不仅仅是单机模式吧？[官网](https://karma-runner.github.io/0.12/intro/how-it-works.html)

[2015-04-16 07:53] valaxy opened #152 "阿里巴巴内部还在用totoro来做测试吗?"
已经好几个月没有动作了... 还在犹豫到底是用karma还是这个  如果你们有人找到了更合适的测试工具.. 拜托一定要分享给大家

[2015-04-16 07:57] leoner commented on #152
目前我们内部还是用 totoro 来做测试的.

[2015-05-04 08:05] javatrees opened #153 "请问使用totoro可以生成html格式的测试报告吗？"

[2015-05-05 03:57] leoner commented on #153
可以自己在 totoro 上面包装, 传入一个自定义的 reporter, 然后在这个里面自己可以输出自己需要的测试报告.

[2015-07-23 02:54] fool2fish commented on #149
totoro 是 selenium 的一个功能子集，仅包括打开和关闭浏览器两个功能，不包含对浏览器操作的其他功能

[2015-07-23 02:54] #149 closed, assigned to nobody

[2015-07-23 02:55] #150 closed, assigned to nobody

[2015-07-23 02:56] fool2fish commented on #152
totoro 用于单元测试已经基本稳定了，内部运行表明服务的稳定性也很 ok

[2015-07-23 02:57] #153 closed, assigned to nobody

[2015-07-23 02:57] #152 closed, assigned to nobody

[2015-07-23 02:57] #146 closed, assigned to nobody

[2016-11-20 14:52] devtip opened #154 "请问现在这个项目还有人维护吗？"
无论是使用totoro测试，还是totoro list查看可用的服务主机，抑或使用ping 10.15.52.87这台主机，反馈的却是请求超时，到底这个项目怎么回事了，现在，网上也没有关于这个工具的详细信息，来来去去都是那几篇介绍性文章。